<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheet %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ assets_path }}css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="{{ assets_path }}plugins/animate/animate.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" type="text/css" href="{{ assets_path }}plugins/magnific-popup/magnific-popup.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" type="text/css" href="{{ assets_path }}plugins/owl-carousel/owl.carousel.min.css">
    <!-- Snazzy Info Window CSS -->
    <link rel="stylesheet" type="text/css" href="{{ assets_path }}plugins/snazzy-info-window/snazzy-info-window.min.css">
    <!-- Morphext CSS -->
    <link rel="stylesheet" type="text/css" href="{{ assets_path }}plugins/morphext/morphext.css">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{{ assets_path }}css/main.css">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

</head>
<body>

    {% include '/templates/partials/navigation.twig' %}

    {% block content %}{% endblock %}

    {% include 'templates/partials/footer.twig' %}
    
    {% block javascript %}
    <!-- Jquery JS -->
    <script type="text/javascript" src="{{ assets_path }}js/jquery-3.3.1.slim.min.js"></script>
    <!-- Popper JS -->
    <script type="text/javascript" src="{{ assets_path }}js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="{{ assets_path }}js/bootstrap.min.js"></script>
    <!-- Font Awesome JS -->
    <script type="text/javascript" src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <!-- Magnific Popup JS -->
    <script type="text/javascript" src="{{ assets_path }}plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Owl Carousel JS -->
    <script type="text/javascript" src="{{ assets_path }}plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Snazzy Info Window JS -->
    <script type="text/javascript" src="{{ assets_path }}plugins/snazzy-info-window/snazzy-info-window.min.js"></script>
    <!-- Morphext JS -->
    <script type="text/javascript" src="{{ assets_path }}plugins/morphext/morphext.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="{{ assets_path }}js/main.js"></script>
    {% endblock %}

</body>
</html>