{% extends 'base.twig' %}

{% block title %}Yallacare - Forgot Password{% endblock %}

{% block content %}

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                    <div class="text-center">
                        <h3 class="fz-26 font-weight-bold letter-spacing-05 text-orange mb-20">Forgot Password</h3>
                        <p class="text-black mb-30">Please enter your email address and we will send you an email about how to reset your password.</p>
                    </div>
                    <form autocomplete="off" class="mt-30">
                        <div class="row">
                            <div class="col-md-12 mb-15">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-lg btn-orange btn-block">Reset Password</button>
                            </div>
                        </div>
                    </form>
                    <p class="text-right fz-14 text-grey mt-20"><a href="signin.php" class="text-blue hover-effect">Back to Login</a></p>
                </div>
                <div class="col-lg-7 col-md-6 d-lg-flex d-md-flex d-sm-none d-none text-center align-items-center justify-content-center">
                    <img src="assets/images/login.png" style="width: 400px;">
                </div>
            </div>
        </div>
    </section>
    <!-- -->

{% endblock %}