{% extends 'base.twig' %}

{% block title %}Yallacare - Sign In{% endblock %}

{% block content %}
    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 col-12">

                    {% include "templates/partials/messages.twig" %}

                    <div class="text-center">
                        <h3 class="fz-26 font-weight-bold letter-spacing-05 text-orange mb-20">Log In to Yallacare</h3>
                        <p class="mb-5"><b>New to Yallacare? <a href="{{ path_for('auth.signup') }}" class="text-blue hover-effect">Sign up</a></b></p>
                        <p class="text-black mb-30">By logging in, you agree to Yallacare’s <a href="#" class="text-blue hover-effect">Terms of Service</a> and <a href="#" class="text-blue hover-effect">Privacy Policy</a>.</p>
                        <a href="#" class="d-block text-center btn btn-primary mb-10"><i class="fab fa-facebook-f mr-2"></i> Log in with Facebook</a>
                        <a href="#" class="d-block text-center btn btn-danger"><i class="fab fa-google-plus-g mr-2"></i> Log in with Google</a>
                    </div>
                    <form autocomplete="off" class="mt-30" method="post" action="{{ path_for('auth.signin') }}">
                        <fieldset class="hr-line mb-20">
                             <legend align="center" class="fz-16 text-grey pr-2 pl-2" style="width:auto;">OR</legend>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-12 mb-15">
                                <input type="email" class="form-control {{ errors.email ? 'is-invalid' : '' }}" name="email" id="email" placeholder="Email" value="{{ old.email }}">
                                {% if errors.email %}
                                    <div class="invalid-feedback">{{ errors.email | first }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 mb-25">
                                <input type="password" class="form-control {{ errors.password ? 'is-invalid' : '' }}" name="password" id="password" placeholder="Password">
                                {% if errors.password %}
                                    <div class="invalid-feedback">{{ errors.password | first }}</div>
                                {% endif %}
                                <p class="text-right mt-5"><a href="forgot-password.php" class="text-blue hover-effect">Forgot password?</a></p>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-lg btn-orange btn-block">Log in</button>
                            </div>

                            {{ csrf.field | raw }}

                        </div>
                    </form>
                    <p class="text-right fz-14 text-grey mt-20">New to Yallacare? <a href="{{ path_for('auth.signup') }}" class="text-blue hover-effect">Sign up</a></p>
                </div>
                <div class="col-lg-7 col-md-6 d-lg-flex d-md-flex d-sm-none d-none text-center align-items-center justify-content-center">
                    <img src="{{ assets_path }}images/login.png" style="width: 400px;">
                </div>
            </div>
        </div>
    </section>
    <!-- -->

{% endblock %}