{% extends 'base.twig' %}

{% block title %}Yallacare - Sign Up{% endblock %}

{% block content %}

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 col-12">

                    {% include "templates/partials/messages.twig" %}

                    <div class="text-center">
                        <h3 class="fz-26 font-weight-bold letter-spacing-05 text-orange mb-20">Sign Up for Yallacare</h3>
                        <p class="mb-5"><b>Connect with great local businesses</b></p>
                        <p class="text-black mb-30">By signing up, you agree to Yallacare’s <a href="#" class="text-blue hover-effect">Terms of Service</a> and <a href="#" class="text-blue hover-effect">Privacy Policy</a>.</p>
                        <a href="#" class="d-block text-center btn btn-primary mb-10"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</a>
                        <a href="#" class="d-block text-center btn btn-danger"><i class="fab fa-google-plus-g mr-2"></i> Sign up with Google</a>
                        <p class="fz-12 text-grey mt-5">Don't worry, we never post without your permission.</p>
                    </div>
                    <form autocomplete="on" class="mt-30" method="post" action="{{ path_for('auth.signup') }}">
                        <fieldset class="hr-line mb-20">
                             <legend align="center" class="fz-16 text-grey pr-2 pl-2" style="width:auto;">OR</legend>
                        </fieldset>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-15">
                                <input type="text" class="form-control {{ errors.first_name ? 'is-invalid' : '' }}" name="first_name" id="first_name" placeholder="First Name" value="{{ old.first_name }}">
                                {% if errors.first_name %}
                                    <div class="invalid-feedback">{{ errors.first_name | first }}</div>
                                {% endif %}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-15">
                                <input type="text" class="form-control {{ errors.last_name ? 'is-invalid' : '' }}" name="last_name" id="last_name" placeholder="Last Name" value="{{ old.last_name }}">
                                {% if errors.last_name %}
                                    <div class="invalid-feedback">{{ errors.last_name | first }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 mb-15">
                                <input type="email" class="form-control {{ errors.email ? 'is-invalid' : '' }}" name="email" id="email" placeholder="Email" value="{{ old.email }}">
                                {% if errors.email %}
                                    <div class="invalid-feedback">{{ errors.email | first }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 mb-25">
                                <input type="password" class="form-control {{ errors.password ? 'is-invalid' : '' }}" name="password" id="password" placeholder="Password">
                                {% if errors.password %}
                                    <div class="invalid-feedback">{{ errors.password | first }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-lg btn-orange btn-block">Sign up</button>
                            </div>
                        </div>

                        {{ csrf.field | raw }}

                    </form>
                    <p class="text-right fz-14 text-grey mt-20">Already on Yallacare? <a href="{{ path_for('auth.signin') }}" class="text-blue hover-effect">Log in</a></p>
                </div>
                <div class="col-lg-7 col-md-6 d-lg-flex d-md-flex d-sm-none d-none text-center align-items-center justify-content-center">
                    <img src="{{ assets_path }}images/membership.png" style="width: 400px;">
                </div>
            </div>
        </div>
    </section>
    <!-- -->

{% endblock %}