{% extends 'base.twig' %}

{% block title %}Yallacare - Edit {{ patient.full_name }}{% endblock %}

{% block content %}

    <!-- SECOND MENU -->
    <section class="pt-40 pb-40 purple-bg has-top-border">
        <div class="container">
            <ul class="list-inline d-md-flex second-menu">
                <li class="flex-grow-1"><a href="{{ path_for('patient.profile', { 'id': patient.id }) }}"><i class="fas fa-user"></i> Profile</a></li>
            </ul>
        </div>
    </section>
    <!-- END SECOND MENU -->

    <!-- -->
    <section class="pb-70 pt-70">
        <div class="container">

            <h3 class="text-black fz-24 font-weight-bold letter-spacing-05 mb-25">Edit Profile</h3>

            <form action="{{ path_for('edit.patient', { 'id': patient.id }) }}" method="post" enctype="multipart/form-data">

                {% include "templates/partials/messages.twig" %}

                <div class="row">
                    <div class="col-md-6 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="full_name">Full name</label>
                        <input type="text" class="form-control {{ errors.full_name ? 'is-invalid' : '' }}" name="full_name" id="full_name" placeholder="Full Name" value="{{ old.full_name ? old.full_name : patient.full_name }}">
                        {% if errors.full_name %}
                            <div class="invalid-feedback">{{ errors.full_name | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="email">Email Address</label>
                        <input type="text" class="form-control {{ errors.email ? 'is-invalid' : '' }}" name="email" id="email" placeholder="Email Address" value="{{ old.email ? old.email : patient.email }}">
                        {% if errors.email %}
                            <div class="invalid-feedback">{{ errors.email | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="phone">Phone no</label>
                        <input type="text" class="form-control {{ errors.phone ? 'is-invalid' : '' }}" name="phone" id="phone" placeholder="Phone no" value="{{ old.phone ? old.phone : patient.phone }}">
                        {% if errors.phone %}
                            <div class="invalid-feedback">{{ errors.phone | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="gender">Gender</label>
                        <select class="form-control" name="gender">
                            <option value="male" {% if patient.gender == 'male' %} selected {% endif %}>Male</option>
                            <option value="female" {% if patient.gender == 'female' %} selected {% endif %}>Female</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="birth">Birth Of Date</label>
                        <input type="text" class="form-control {{ errors.birth ? 'is-invalid' : '' }}" name="birth" id="birth" placeholder="d-m-Y" value="{{ old.birth ? old.birth : patient.birth }}">
                        {% if errors.birth %}
                            <div class="invalid-feedback">{{ errors.birth | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="city">City</label>
                        <input type="text" class="form-control {{ errors.city ? 'is-invalid' : '' }}" name="city" id="city" placeholder="City" value="{{ old.city ? old.city : patient.city }}">
                        {% if errors.city %}
                            <div class="invalid-feedback">{{ errors.city | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="state">State</label>
                        <input type="text" class="form-control {{ errors.state ? 'is-invalid' : '' }}" name="state" id="state" placeholder="State" value="{{ old.state ? old.state : patient.state }}">
                        {% if errors.state %}
                            <div class="invalid-feedback">{{ errors.state | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="country">Country</label>
                        <input type="text" class="form-control {{ errors.country ? 'is-invalid' : '' }}" name="country" id="country" placeholder="Country" value="{{ old.country ? old.country : patient.country }}">
                        {% if errors.country %}
                            <div class="invalid-feedback">{{ errors.country | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="password">Password</label>
                        <input type="text" class="form-control {{ errors.password ? 'is-invalid' : '' }}" name="password" id="password" placeholder="Password">
                        {% if errors.password %}
                            <div class="invalid-feedback">{{ errors.password | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="picture">Picture</label>
                        <input type="file" class="form-control" name="picture" id="picture" placeholder="Profile Picture">
                    </div>
                    <div class="col-md-12 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="picture">About</label>
                        <textarea class="form-control" name="about" rows="8">{{ old.about ? old.about : patient.about }}</textarea>
                    </div>
                    {{ csrf.field | raw }}
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-lg btn-orange">Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- -->

{% endblock %}