{% extends 'base.twig' %}

{% block title %}Yallacare - Blog{% endblock %}

{% block content %}

    <!-- SECOND MENU -->
    <section class="pt-40 pb-40 purple-bg has-top-border">
        <div class="container">
            <ul class="list-inline d-md-flex second-menu">
                <li class="flex-grow-1"><a href="{{ path_for('patient.profile', { 'id': patient.id }) }}"><i class="fas fa-user"></i> Profile</a></li>
            </ul>
        </div>
    </section>
    <!-- END SECOND MENU -->

    <!-- -->
    <section class="pb-70 pt-70">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">

                    <div class="card">
                        <img src="{{ upload_users }}{{ patient.id | get_user_meta('avatar').meta_value }}"
                        <ul class="list-group fz-12">
                            <li class="list-group-item">
                                <i class="fas fa-user"></i> Name 
                                <span class="float-right">{{ patient.full_name }}</span>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-envelope"></i> Email 
                                <span class="float-right">{{ patient.email }}</span>
                            </li>
                            <li class="list-group-item">
                                <i class="far fa-address-card"></i> Address 
                                <span class="float-right">EL Hajeb, Morocco</span>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-phone-volume"></i> Phone 
                                <span class="float-right">{{ patient.phone }}</span>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-genderless"></i> Gender 
                                <span class="float-right">{{ patient.gender }}</span>
                            </li>
                            <li class="list-group-item">
                                <i class="far fa-calendar-alt"></i> Date of birth 
                                <span class="float-right">{{ patient.birth }}</span>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path_for('edit.patient', { 'id': patient.id }) }}">Edit</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <b>About</b>
                        </div>
                        <div class="card-body">
                            {{ patient.about }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -->

{% endblock %}