{% if pagination.needed  %} 
    <nav aria-label="Page navigation" class="mt-5">
        <ul class="pagination justify-content-center">
            {% if pagination.page != 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ pagination.prev }}{% if searchView == true %}&search={{searchQuery}}{% endif %}">Previous</a></li>
            {% endif %}
            {% for i in range(1, pagination.lastpage) %}
                <li {% if pagination.page == i %} class="page-item active" {% endif %}>
                <a class="page-link" href="?page={{ i }}{% if searchView == true %}&search={{searchQuery}}{% endif %}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if pagination.page != pagination.lastpage %}
            <li class="page-item"><a class="page-link" href="?page={{ pagination.next }}{% if searchView == true %}&search={{searchQuery}}{% endif %}">Next</a></li>
            {% endif %}
        </ul>           
    </nav>
{% endif %}