<!-- SIDEBAR -->
<aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
    <section class="sidebar">

        <!-- LOGO -->
        <div class="w-100px mt-3 mb-3 ml-3">
            <img src="{{ assets_path }}control-panel/img/logo.jpg" alt="">
        </div>
        <!-- END LOGO -->
        
        <!-- PROFILE -->
        <div class="relative">
            <a data-toggle="collapse" href="#userSettingsCollapse" role="button" aria-expanded="false"
               aria-controls="userSettingsCollapse" class="btn-fab btn-fab-sm absolute fab-right-bottom fab-top btn-primary shadow1 ">
                <i class="icon icon-cogs"></i>
            </a>
            <div class="user-panel p-3 light mb-2">
                <div>
                    <div class="float-left image">
                        <img class="user_avatar" src="{{ assets_path }}control-panel/img/dummy/u2.png" alt="User Image">
                    </div>
                    <div class="float-left info">
                        <h6 class="font-weight-light mt-2 mb-1">Hamid Akhatar</h6>
                        <a href="#"><i class="icon-circle text-primary blink"></i> Online</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="collapse multi-collapse" id="userSettingsCollapse">
                    <div class="list-group mt-3 shadow">
                        <a href="profile.php" class="list-group-item list-group-item-action "><i class="mr-2 icon-umbrella text-blue"></i>Profile</a>
                        <a href="general-settings.php" class="list-group-item list-group-item-action"><i class="mr-2 icon-cogs text-yellow"></i>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE -->

        <!-- MENU -->
        <ul class="sidebar-menu">
            <li class="header"><strong>MAIN NAVIGATION</strong></li>
            <li class="treeview"><a href="{{ path_for('admin.index') }}"><i class="icon icon-dashboard2 purple-text s-18"></i> <span>Dashboard</span></a></li>
            <li class="treeview">
                <a href="#"><i class="icon icon-user-secret text-secondary s-18"></i> <span>Administrators</span> <i class="icon icon-angle-left s-18 pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path_for('users.list',{ 'type': 'admins' }) }}"><i class="icon icon-circle-o"></i>All Administrators</a></li>
                    <li><a href="{{ path_for('create.new.user',{ 'type': 'admin' }) }}"><i class="icon icon-add"></i>Add Administrator</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="icon icon-user-md text-blue s-18"></i>Doctors<i class="icon icon-angle-left s-18 pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path_for('users.list',{ 'type': 'doctors' }) }}"><i class="icon icon-circle-o"></i>All Doctors</a></li>
                    <li><a href="{{ path_for('create.new.user',{ 'type': 'doctor' }) }}"><i class="icon icon-add"></i>Add Doctor</a></li>
                    <li><a href="{{ path_for('appointments.list') }}"><i class="icon icon-calendar-check-o"></i>Appointments</a></li>
                    <li><a href="{{ path_for('specialities.list') }}"><i class="icon icon-radio_button_checked"></i>Specialities</a></li>
                    <li><a href="###"><i class="icon icon-star"></i>Reviews</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="icon icon-users light-green-text s-18"></i>Patients<i class="icon icon-angle-left s-18 pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path_for('users.list',{ 'type': 'patients' }) }}"><i class="icon icon-circle-o"></i>All Patients</a></li>
                    <li><a href="{{ path_for('create.new.user',{ 'type': 'patient' }) }}"><i class="icon icon-add"></i>Add Patient</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="icon icon-hospital-o red-text s-18"></i> <span>Hospitals</span> <i class="icon icon-angle-left s-18 pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path_for('hospitals.list') }}"><i class="icon icon-circle-o"></i>All Hospitals</a></li>
                    <li><a href="{{ path_for('create.new.hospital') }}"><i class="icon icon-add"></i>Add Hospital</a></li>
                    <li><a href="##"><i class="icon icon-question-circle-o"></i>Enquiries</a></li>
                    <li><a href="{{ path_for('specialities.list') }}"><i class="icon icon-radio_button_checked"></i>Specialities</a></li>
                    <li><a href="#"><i class="icon icon-star"></i>Reviews</a></li>
                </ul>
            </li>
            <li class="treeview no-b">
                <a href="#"><i class="icon icon-newspaper-o amber-text s-18"></i> <span>Blog</span> <i class="icon icon-angle-left s-18 pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path_for('articles.list') }}"><i class="icon icon-circle-o"></i>All Articles</a></li>
                    <li><a href="{{ path_for('create.new.article') }}"><i class="icon icon-add"></i>Add Article</a></li>
                    <li><a href="{{ path_for('categories.list') }}"><i class="icon icon-tags4"></i>Categories</a></li>
                </ul>
            </li>
            <li class="treeview no-b">
                <a href="#"><i class="icon icon-newspaper brown-text s-18"></i> <span>Pages</span> <i class="icon icon-angle-left s-18 pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path_for('pages.list') }}"><i class="icon icon-circle-o"></i>All Pages</a></li>
                    <li><a href="{{ path_for('create.new.page') }}"><i class="icon icon-add"></i>Add Page</a></li>
                </ul>
            </li>
            <li class="header light mt-3"><strong>GENERAL</strong></li>
            <li class="treeview"><a href="general-enquiries.php"><i class="icon icon-question-circle-o text-lime s-18"></i> <span>Enquiries</span></a></li>
            <li class="treeview"><a href="messages.php"><i class="icon icon-envelope-o text-lime s-18"></i> <span>Messages</span></a></li>
            <li class="header light mt-3"><strong>SETTINGS</strong></li>
            <li class="treeview"><a href="general-settings.php"><i class="icon icon-settings2 s-18"></i>General</a></li>
            <li class="treeview"><a href="smtp.php"><i class="icon icon-at s-18"></i>SMTP</a></li>
            <li class="treeview"><a href="maintenance.php"><i class="icon icon-power_settings_new s-18"></i>Maintenance</a></li>
            <li class="treeview"><a href="{{ path_for('auth.signout') }}"><i class="icon icon-power_settings_new s-18"></i>Sign Out</a></li>
        </ul>
        <!-- END MENU -->

    </section>
</aside>
<!-- END SIDEBAR -->