/* BLOG */
.widget {
    background-color: $light-grey;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    &:last-child { margin-bottom: 0; }
    h3.widget-title {
        text-transform: capitalize;
        font-size: 20px;
        letter-spacing: 0.5px;
        color: $black;
        padding: 0 20px;
        padding-bottom: 15px;
        border-bottom: 3px solid #DEDEDE;
        margin: 0;
        margin-bottom: 25px;
        font-weight: 600;
    }
    .menu {
        margin: 0;
        padding: 0 20px;
        li {
            list-style-type: none;
            margin-bottom: 10px;
            &:last-child { margin-bottom: 0; }
            a {
                color: $black;
                font-size: 16px;
                letter-spacing: 0.5px;
                transition: all 0.3s;
                &:hover { color: $blue; }
            }
        }
    }
    .posts-widget {
        padding: 0 20px;
        .post {
            margin-bottom: 10px;
            &:last-child { margin-bottom: 0; }
            figure {
                width: 70%;
                margin-right: 15px;
            }
            .infos {
                h3 {
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    margin: 0;
                    a {
                        color: $black;
                        transition: all 0.3s;
                        &:hover { color: $blue; }
                    }
                }
                span {
                    color: $grey;
                    font-size: 12px;
                }
            }
        }
    }
    form {
        padding: 0 20px;
        input[type="text"] {
            height: 40px;
        }
        .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
            background-color: $orange;
        }
    }
}

.articles {
    article {
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 3px solid $light-grey;
        h3 {
            font-size: 24px;
            letter-spacing: 0.5px;
            font-weight: 700;
            a {
                color: $black;
                transition: all 0.3s;
                &:hover { color: $orange; }
            }
        }
        span {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.5px;
            color: $grey;
        }
        figure {
            margin: 20px 0;
            height: 300px;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        p {
            color: $black;
            margin-bottom: 0;
        }
    }
}

.post {
    article {
        .post-content {
            margin-top: 30px;
            p {
                font-size: 16px;
                margin-bottom: 25px;
            }
            ul {
                padding-left: 20px;
                margin-bottom: 25px;
                li {
                    list-style-type: none;
                    position: relative;
                    margin-left: 15px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    &:before {
                        content: '';
                        width: 5px;
                        height: 5px;
                        background-color: $orange;
                        position: absolute;
                        left: -15px;
                        top: 10px;
                        border-radius: 100%;
                    }
                }
            }
            blockquote {
                background-color: $light-grey;
                border-left: 5px solid $orange;
                padding: 10px 20px;
                margin-bottom: 25px;
                p {
                    font-style: italic;
                    color: $grey;
                    &:last-child { margin-bottom: 0; }
                }
            }
            a {
                color: $blue;
                transition: all 0.3s;
                &:hover {
                    color: $orange;
                }
            }
            h1,h2,h3,h4,h5,h6 { font-weight: 700; }
        }
    }
}