/* Surgery Box */
.surgery-box {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 25px 15px;
    position: relative;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
    a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
    }
}

/* HOSPITAL BOX */
.hospital-box {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: relative;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
    .row {
        min-height: 220px;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }
    }
    a.thelink {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
    }
}

/* MEMBER BOX */
.member-box {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 3px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px rgba(94,94,94,0.1);
    figure {
        height: 250px;
        overflow: hidden;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }
    }
    .infos {
        padding-right: 20px;
        padding-left: 20px;
        h4 {
            color: $black;
            letter-spacing: 0.5px;
            font-size: 14px;
            margin-bottom: 2px;
            font-weight: 600;
            text-transform: capitalize;
        }
        span {
            color: $orange;
            letter-spacing: 0.5px;
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
        }
        ul {
            margin: 0;
            padding: 0;
            margin-top: 10px;
            li {
                display: inline-block;
                list-style-type: none;
                margin-right: 10px;
                &:last-child { margin-right: 0; }
            }
            a {
                color: $grey;
                transition: all 0.3s;
                &:hover { color: $orange; }
            }
        }
    }
}

/* REVIEW BOX */
.review-box {
    img {
        width: 64px;
        height: 64px;
        border-radius: 100%;
    }
    ul.stars {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            color: #ccc;
            &.selected {
                svg {
                    color: #FF912C;
                }
            }
        }
    }
}
.rating-stars ul {
    list-style-type:none;
    padding:0;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > svg {
    font-size:1.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > svg {
    color:#FFCC36;
}

/* Selected state of the stars */
    .rating-stars ul > li.star.selected > svg {
    color:#FF912C;
}
