/* CONTACT DETAILS */
.contact-details {
    padding: 0;
    margin: 0;
    li {
        list-style-type: none;
        margin-bottom: 10px;
        color: $black;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-size: 16px;
        svg { color: $orange; }
        &:last-child { margin-bottom: 0; }
        a {
            font-size: 36px;
            margin-right: 10px;
            svg {
                color: $grey;
                transition: all 0.3s;
                &:hover { color: $orange; }
            }
        }
    }
}
