/* FOOTER */
#footer {
    .footer-menu {
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            list-style-type: none;
            margin-right: 20px;
            &:last-child { margin-right: 0; }
            a {
                color: #FFF;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: 0.5px;
                transition: all 0.3s;
                &:hover { color: $orange; }
            }
        }
    }
}

ul.copyright-menu {
    padding: 0;
    margin:0;
    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
        &:last-child { margin-right: 0; }
        a {
            color: #FFF;
            letter-spacing: 0.5px;
            transition: all 0.3s;
            &:hover { color: $orange; }
        }
    }
}

// RESPONSIVE

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    ul.copyright-menu {
        li {
            display: block;
            margin-right: 0;
            margin-bottom: 10px;
            &:last-child { margin-bottom: 0; }
        }
    }
}