/* HEADER */
#header {
    nav {
        .navbar-brand {
            img {
                max-width: 210px;
            }
        }
        #main-menu {
            > ul {
                > li {
                    > a {
                        color: $black;
                        letter-spacing: 0.5px;
                        font-weight: 600;
                        padding: 0 15px;
                        transition: all 0.3s;
                        &:hover {
                            color: $orange;
                        }
                    }
                    &.dropdown {
                        .dropdown-menu {
                            padding: 5px 0;
                            top: 30px;
                            a {
                                color: $black;
                                letter-spacing: 0.5px;
                                font-weight: 600;
                                padding: 5px 15px;
                                transition: all 0.3s;
                                &:hover {
                                    color: $orange;
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// RESPONSIVE

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #header {
        .navbar-toggler {
            color: $orange;
            border: 1px solid $orange;
            padding: 10px 18px;
            font-size: 30px;
            &:focus {
                outline: 0;
            }
        }
        .navbar-nav {
            background-color: $dark-purple;
            padding: 15px;
            border-radius: 5px;
            > li {
                margin-bottom: 10px;
                &:last-child { margin-bottom: 0; }
                > a {
                    color: #FFFFFF !important;
                    &:hover { color: $orange !important; }
                }
            }
        }
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}