/* HERO SLIDER */
#hero-slider {
    background: url('../images/clinic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    padding: 100px 0;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.7);
    }
    form {
        legend {
            color: #FFF;
            position: relative;
            font-size: 36px;
            letter-spacing: 0.5px;
            font-weight: 700;
            margin-bottom: 30px;
            span {
                animation-duration: 2s;
            }
        }
        .input-group-text {
            border: 0;
            background-color: #FFF;
            height: 60px;
            font-size: 22px;
            color: $red;
        }
        input {
            border: 0;
            height: 60px;
            font-size: 16px;
            letter-spacing: 0.5px;
            &:focus { box-shadow: none; }
        }
        button {
            height: 60px;
            font-weight: 600;
            letter-spacing: 0.5px;
            color: #FFF;
            width: 100%;
            font-size: 18px;
            background-color: $orange;
            border: 0;
            &:focus { box-shadow: none; }
            &:hover {
                background-color: $light-orange;
            }
        }
    }
}