/* SECOND MENU */
.second-menu {
    margin: 0;
    li {
        padding-right: 15px;
        &:last-child { padding-right: 0; }
        a {
            color: #FFF;
            letter-spacing: 0.5px;
            font-size: 16px;
            font-weight: 600;
            transition: all 0.3s;
            svg { font-size: 24px; }
            &:hover { color: $orange; }
        }
    }
}

// RESPONSIVE

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .second-menu {
        li {
            margin-bottom: 20px;
            &:last-child { margin-bottom: 0; }
            a { display: block; }
        }
    }
}