/* TESTIMONIALS */
.testimonials {
    position: relative;
    a.arrow {
        position: absolute;
        color: $grey;
        font-size: 36px;
        z-index: 99;
        opacity: 0.5;
        transition: all 0.3s;
        &:hover { opacity: 1; }
        &.left-arrow {
            left: 0;
            top: 0;
        }
        &.right-arrow {
            right: 0;
            top: 0;
        }
    }
    .quotes {
        padding: 0 80px;
    }
}