{% extends 'templates/control-panel/base.twig' %}

{% block title %}Yallacare - Edit {{ user.first_name }}{% endblock %}

{% block content %}

<!-- TOP PAGE -->
<div class="has-sidebar-left">

    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                <div class="search-bar">
                    <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text" placeholder="start typing...">
                </div>
                <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
            </div>
        </div>
    </div>

    <div class="sticky">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
            <div class="relative">
                <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle"><i></i></a>
            </div>

            <!-- TOP MENU -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown custom-dropdown user user-menu ">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <img src="assets/img/dummy/u8.png" class="user-image" alt="User Image">
                            <i class="icon-more_vert "></i>
                        </a>
                        <div class="dropdown-menu p-4 dropdown-menu-right">
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END TOP MENU -->

        </div>
    </div>

</div>
<!-- END TOP PAGE -->

<!-- PAGE -->
<div class="page has-sidebar-left height-full">

    <!-- HEADER -->
    <header class="blue accent-3 relative nav-sticky">
        <div class="container-fluid text-white">

            <div class="row p-t-b-10 ">
                <div class="col">
                    {% if role_name == 'admin' %}
                        <h4> <i class="icon-user-secret"></i> Edit Administrator</h4>
                    {% elseif role_name == 'patient' %}
                        <h4> <i class="icon-users"></i> Edit Patient</h4>
                    {% endif %}
                </div>
            </div>
                
        </div>
    </header>
    <!-- END HEADER -->

    <!-- BODY -->
    <div class="container-fluid animatedParent animateOnce">

        {% include 'templates/control-panel/templates/admin/partials/messages.twig' %}

        <div class="animated fadeInUpShort">
            <div class="row justify-content-center my-3">
                <div class="col-md-8">
                    <form action="{{ path_for('user.update',{ 'id': user.id }) }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_METHOD" value="PUT"/>
                        <div class="card no-b no-r">
                            <div class="card-body">
                                <h5 class="card-title">Personal Information</h5>
                                <div class="form-row">
                                    <div class="col-md-8">
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label for="full_name" class="col-form-label">FIRST NAME</label>
                                                <input id="full_name" name="full_name" placeholder="Full Name" class="form-control  {{ errors.full_name ? 'is-invalid' : '' }}" type="text" value="{{ old.full_name ? old.full_name : user.full_name }}">
                                                {% if errors.full_name %}
                                                    <div class="invalid-feedback">{{ errors.full_name | first }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="email" class="col-form-label">EMAIL ADDRESS</label>
                                                <input id="email" name="email" placeholder="Email Address" class="form-control {{ errors.email ? 'is-invalid' : '' }}" type="email" value="{{ old.email ? old.email : user.email }}">
                                                {% if errors.email %}
                                                    <div class="invalid-feedback">{{ errors.email | first }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="password" class="col-form-label">Password</label>
                                                <input id="password" name="password" placeholder="Password" class="form-control {{ errors.password ? 'is-invalid' : '' }}" type="password">
                                                {% if errors.password %}
                                                <div class="invalid-feedback">{{ errors.password | first }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 offset-md-1">
                                        <input type="file" id="picture" name="picture" class="d-none"/>
                                        <label for="picture" class="px-5 py-5" style="border: 2px dashed #ECF0F1; cursor: pointer;">
                                            <div>Click to open file browser</div>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="phone" class="col-form-label">Phone</label>
                                        <input id="phone" name="phone" placeholder="Phone" class="form-control {{ errors.phone ? 'is-invalid' : '' }}" type="tel" value="{{ old.phone ? old.phone : user.phone }}">
                                        {% if errors.phone %}
                                            <div class="invalid-feedback">{{ errors.phone | first }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="gender" class="col-form-label">GENDER</label>
                                        <select class="form-control" id="gender" name="gender">
                                            <option value="male" {% if old.gender == 'male' %} selected {% endif %}>Male</option>
                                            <option value="female" {% if old.gender == 'female' %} selected {% endif %}>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="birth" class="col-form-label">DATE OF BIRTH</label>
                                    <input type="text" class="date-time-picker form-control {{ errors.birth ? 'is-invalid' : '' }}" name="birth" id="birth" placeholder="d-m-Y" data-options='{"timepicker":false, "format":"d-m-Y"}' value="{{ old.birth ? old.birth : user.birth }}">
                                    {% if errors.birth %}
                                    <div class="invalid-feedback">{{ errors.birth | first }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-4">
                                        <label for="city" class="col-form-label">CITY</label>
                                        <input id="city" name="city" placeholder="City" class="form-control {{ errors.city ? 'is-invalid' : '' }}" type="text" value="{{ old.city ? old.city : user.city }}">
                                        {% if errors.city %}
                                        <div class="invalid-feedback">{{ errors.city | first }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="state" class="col-form-label">STATE</label>
                                        <input id="state" name="state" placeholder="State" class="form-control {{ errors.state ? 'is-invalid' : '' }}" type="text" value="{{ old.state ? old.state : user.state }}">
                                        {% if errors.state %}
                                        <div class="invalid-feedback">{{ errors.state | first }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="country" class="col-form-label">COUNTRY</label>
                                        <input id="country" name="country" placeholder="Country" class="form-control {{ errors.country ? 'is-invalid' : '' }}" type="text" value="{{ old.country ? old.country : user.country }}">
                                        {% if errors.country %}
                                        <div class="invalid-feedback">{{ errors.country | first }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card-body p-0 b-0 r-0">
                                <div class="form-group">
                                    <textarea class="editor" name="about" placeholder="About the doctor ..." rows="17">{{ old.about }}</textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save mr-2"></i>Save Data</button>
                            </div>

                            {{ csrf.field | raw }}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END BODY -->

</div>
<!-- END PAGE -->

{% endblock %}