{% extends 'templates/control-panel/base.twig' %}

{% block title %}Yallacare - Edit {{ hospital.name }}{% endblock %}

{% block content %}

<!-- TOP PAGE -->
<div class="has-sidebar-left">

    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                <div class="search-bar">
                    <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text" placeholder="start typing...">
                </div>
                <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
            </div>
        </div>
    </div>

    <div class="sticky">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
            <div class="relative">
                <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle"><i></i></a>
            </div>

            <!-- TOP MENU -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown custom-dropdown user user-menu ">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <img src="assets/img/dummy/u8.png" class="user-image" alt="User Image">
                            <i class="icon-more_vert "></i>
                        </a>
                        <div class="dropdown-menu p-4 dropdown-menu-right">
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END TOP MENU -->

        </div>
    </div>

</div>
<!-- END TOP PAGE -->

<!-- PAGE -->
<div class="page has-sidebar-left height-full">

    <!-- HEADER -->
    <header class="blue accent-3 relative nav-sticky">
        <div class="container-fluid text-white">

            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4> <i class="icon-hospital-o"></i> Hospitals </h4>
                </div>
            </div>
            
            <div class="row justify-content-between">
                <ul class="nav nav-material nav-material-white responsive-tab" id="v-pills-tab" role="tablist">
                    <li class="float-right">
                        <a class="nav-link" href="{{ path_for('hospitals.list') }}" ><i class="icon icon-home2"></i> All Hospitals</a>
                    </li>
                    <li class="float-right">
                        <a class="nav-link" href="{{ path_for('create.new.hospital') }}" ><i class="icon icon-plus-circle"></i> Add New Hospital</a>
                    </li>
                    <li class="float-right">
                        <a class="nav-link" href="#" ><i class="icon icon-question-circle-o"></i> Enquiries</a>
                    </li>
                    <li class="float-right">
                        <a class="nav-link" href="#" ><i class="icon icon-star"></i> Reviews</a>
                    </li>
                </ul>
            </div>
                
        </div>
    </header>
    <!-- END HEADER -->

    <!-- BODY -->
    <div class="container-fluid animatedParent animateOnce">

        {% include "templates/control-panel/templates/admin/partials/messages.twig" %}

        <div class="animated fadeInUpShort">
            <div class="row justify-content-center my-3">
                <div class="col-md-8">
                    <form action="{{ path_for('hospital.update', { 'id': hospital.id }) }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_METHOD" value="PUT"/>
                        <div class="card no-b no-r">
                            <div class="card-body">
                                <h5 class="card-title">Details</h5>
                                <div class="form-row">
                                    <div class="col-md-8">
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label for="name" class="col-form-label">NAME</label>
                                                <input id="name" name="name" placeholder="Name" class="form-control {{ errors.name ? 'is-invalid' : '' }}" type="text" value="{{ old.name ? old.name : hospital.name }}">
                                                {% if errors.name %}
                                                    <div class="invalid-feedback">{{ errors.name | first }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="email" class="col-form-label">EMAIL ADDRESS</label>
                                                <input id="email" name="email" placeholder="Email Address" class="form-control {{ errors.email ? 'is-invalid' : '' }}" type="email" value="{{ old.email ? old.email : hospital.email }}">
                                                {% if errors.email %}
                                                    <div class="invalid-feedback">{{ errors.email | first }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="address" class="col-form-label">CLINIC TYPE</label>
                                                <select name="type" class="form-control {{ errors.type ? 'is-invalid' : '' }}">
                                                    <option {% if hospital.type == '' %} selected {% endif %} disabled>Select Clinic Type</option>
                                                    <option {% if hospital.type == 'multi' %} selected {% endif %} value="multi">Multi-Specialty Hospital</option>
                                                    <option {% if hospital.type == 'single' %} selected {% endif %} value="single">Single-Specialty Hospital</option>
                                                </select>
                                                {% if errors.type %}
                                                    <div class="invalid-feedback">{{ errors.type | first }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="password" class="col-form-label">PASSWORD</label>
                                                <input id="password" name="password" placeholder="Password" class="form-control {{ errors.password ? 'is-invalid' : '' }}" type="password">
                                                {% if errors.password %}
                                                    <div class="invalid-feedback">{{ errors.password | first }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 offset-md-1">
                                        <input type="file" id="picture" name="picture" class="d-none"/>
                                        <label for="picture" class="px-5 py-5" style="border: 2px dashed #ECF0F1; cursor: pointer;">
                                            <div>Click to open file browser</div>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="phone" class="col-form-label">PHONE</label>
                                        <input id="phone" name="phone" placeholder="Phone" class="form-control {{ errors.phone ? 'is-invalid' : '' }}" type="text" value="{{ old.phone ? old.phone : hospital.phone }}">
                                        {% if errors.phone %}
                                            <div class="invalid-feedback">{{ errors.phone | first }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="price" class="col-form-label">PRICE</label>
                                        <input id="price" name="price" placeholder="Minimum TO Maximum" class="form-control {{ errors.price ? 'is-invalid' : '' }}" type="text" value="{{ old.price ? old.price : hospital.price }}">
                                        {% if errors.price %}
                                            <div class="invalid-feedback">{{ errors.price | first }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-4">
                                        <label for="city" class="col-form-label">CITY</label>
                                        <input id="city" name="city" placeholder="City" class="form-control {{ errors.city ? 'is-invalid' : '' }}" type="text" value="{{ old.city ? old.city : hospital.city }}">
                                        {% if errors.city %}
                                            <div class="invalid-feedback">{{ errors.city | first }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="state" class="col-form-label">STATE</label>
                                        <input id="state" name="state" placeholder="State" class="form-control {{ errors.state ? 'is-invalid' : '' }}" type="text" value="{{ old.state ? old.state : hospital.state }}">
                                        {% if errors.state %}
                                            <div class="invalid-feedback">{{ errors.state | first }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="country" class="col-form-label">COUNTRY</label>
                                        <input id="country" name="country" placeholder="Country" class="form-control {{ errors.country ? 'is-invalid' : '' }}" type="text" value="{{ old.country ? old.country : hospital.country }}">
                                        {% if errors.country %}
                                            <div class="invalid-feedback">{{ errors.country | first }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="address" class="col-form-label">ADDRESS</label>
                                        <input id="address" name="address" placeholder="Address" class="form-control {{ errors.address ? 'is-invalid' : '' }}" type="text" value="{{ old.address ? old.address : hospital.address }}">
                                        {% if errors.address %}
                                            <div class="invalid-feedback">{{ errors.address | first }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="zip_code" class="col-form-label">ZIP CODE</label>
                                        <input id="zip_code" name="zip_code" placeholder="ZIP code" class="form-control {{ errors.zip_code ? 'is-invalid' : '' }}" type="text" value="{{ old.zip_code ? old.zip_code : hospital.zip_code }}">
                                        {% if errors.zip_code %}
                                            <div class="invalid-feedback">{{ errors.zip_code | first }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <h5 class="card-title">Specialities</h5>
                                <select class="select2" name="specialities[]" id="specialities" multiple="multiple">
                                    {% if specialities is not empty %}
                                    {% for speciality in specialities %}
                                        <option {% if speciality.id in hospital.id | get_specialities_ids('hospital')  %} selected {% endif %} value="{{ speciality.id }},{{ speciality.name }}">{{ speciality.name }}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <hr>
                            <div class="card-body">
                                <h5 class="card-title">Amenties</h5>
                                <div class="form-row">
                                    {% for amenties in hospital.id | get_hospital_meta('amenties', true) %}
                                        <div class="form-group col-10">
                                            <input type="text" class="form-control" name="amenties[]" id="service" placeholder="Amenties" value="{{ amenties }}">
                                        </div>
                                        <div class="form-group col-2 d-flex align-items-end justify-content-center">
                                            <a class="btn btn-success add-amenties"><i class="icon-plus"></i></a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <h5 class="card-title">Awards</h5>
                                <div class="form-row">
                                    {% for award in hospital.id | get_hospital_meta('awards', true) %}
                                        <div class="form-group col-5">
                                            <label for="award_name" class="col-form-label">Award name</label>
                                            <input type="text" class="form-control" name="award_name[]" id="award_name" placeholder="Award name" value="{{ award.award_name }}">
                                        </div>
                                        <div class="form-group col-5">
                                            <label for="award_year" class="col-form-label">Award year</label>
                                            <input type="text" class="form-control" name="award_year[]" id="award_year" placeholder="Award year" value="{{ award.award_year }}">
                                        </div>
                                        <div class="form-group col-2 d-flex align-items-end justify-content-center">
                                            <a class="btn btn-success add-award"><i class="icon-plus"></i></a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <h5 class="card-title">Gallery</h5>
                                <input type="file" id="gallery" name="gallery[]" class="d-none" multiple="true"/>
                                <label for="gallery" class="py-5 text-center" style="border: 2px dashed #ECF0F1; cursor: pointer; width: 100%;">
                                    <div>Click to open file browser</div>
                                </label>
                            </div>  
                            <hr>
                            <div class="card-body p-0 b-0 r-0">
                                <div class="form-group">
                                    <textarea class="editor" name="about" placeholder="About the hospital ..." rows="17">{{ old.about ? old.about : hospital.about }}</textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save mr-2"></i>Save Data</button>
                            </div>
                            {{ csrf.field | raw }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END BODY -->

</div>
<!-- END PAGE -->

{% endblock %}