{% extends 'templates/control-panel/base.twig' %}

{% block title %}Yallacare - Edit {{ category.name }}{% endblock %}

{% block content %}

<!-- TOP PAGE -->
<div class="has-sidebar-left">

    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                <div class="search-bar">
                    <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text" placeholder="start typing...">
                </div>
                <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
            </div>
        </div>
    </div>

    <div class="sticky">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
            <div class="relative">
                <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle"><i></i></a>
            </div>

            <!-- TOP MENU -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown custom-dropdown user user-menu ">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <img src="assets/img/dummy/u8.png" class="user-image" alt="User Image">
                            <i class="icon-more_vert "></i>
                        </a>
                        <div class="dropdown-menu p-4 dropdown-menu-right">
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END TOP MENU -->

        </div>
    </div>

</div>
<!-- END TOP PAGE -->

<!-- PAGE -->
<div class="page has-sidebar-left height-full">

    <!-- HEADER -->
    <header class="blue accent-3 relative nav-sticky">
        <div class="container-fluid text-white">
            
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4> <i class="icon-tags4"></i> Edit Category</h4>
                </div>
            </div>

        </div>
    </header>
    <!-- END HEADER -->

    <!-- BODY -->
    <div class="container-fluid animatedParent animateOnce">

        {% include 'templates/control-panel/templates/admin/partials/messages.twig' %}

        <div class="animated fadeInUpShort">
            <div class="row justify-content-md-center my-3">
                
                <!-- EDIT SPECIALITY -->
                <div class="col-md-6">
                    <form action="{{ path_for('category.update', { 'id': category.id }) }}" method="post">
                        <input type="hidden" name="_METHOD" value="PUT"/>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Edit Category</h5>
                                <div class="form-group">
                                    <label for="name" class="form-label">Name</label>
                                    <input id="name" name="name" placeholder="Name" class="form-control {{ errors.name ? 'is-invalid' : '' }}" type="text" value="{{ old.name ? old.name : category.name }}">
                                    {% if errors.name %}
                                        <div class="invalid-feedback">{{ errors.name | first }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save mr-2"></i>Save Data</button>
                            </div>
                            {{ csrf.field | raw }}
                        </div>
                    </form>
                </div>
                <!-- END EDIT SPECIALITY -->

            </div>
        </div>
    </div>
    <!-- END BODY -->

</div>
<!-- END PAGE -->

{% endblock %}