{% extends 'templates/control-panel/base.twig' %}

{% block title %}Yallacare - Control Panel{% endblock %}

{% block content %}
    

<!-- TOP PAGE -->
<div class="has-sidebar-left">

    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                <div class="search-bar">
                    <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text" placeholder="start typing...">
                </div>
                <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
            </div>
        </div>
    </div>

    <div class="sticky">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
            <div class="relative">
                <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle"><i></i></a>
            </div>

            <!-- TOP MENU -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown custom-dropdown user user-menu ">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <img src="assets/img/dummy/u8.png" class="user-image" alt="User Image">
                            <i class="icon-more_vert "></i>
                        </a>
                        <div class="dropdown-menu p-4 dropdown-menu-right">
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END TOP MENU -->

        </div>
    </div>

</div>
<!-- END TOP PAGE -->

<!-- PAGE -->
<div class="page has-sidebar-left height-full">

    <!-- HEADER -->
    <header class="blue accent-3 relative nav-sticky">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4> <i class="icon-box"></i> Dashboard </h4>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER -->

    <!-- BODY -->
    <div class="container-fluid">

        <!-- COUNTERS -->
        <div class="row text-white no-gutters my-3 shadow">
            <div class="col-lg-3">
                <div class="strawberry counter-box p-40">
                    <div class="float-right">
                        <span class="icon icon-hospital-o s-48"></span>
                    </div>
                    <div class="sc-counter s-36">1200</div>
                    <h6 class="counter-title">Hospitals</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="blue1 counter-box p-40">
                    <div class="float-right">
                        <span class="icon icon-user-md s-48"></span>
                    </div>
                    <div class="sc-counter s-36">1200</div>
                    <h6 class="counter-title">Doctors</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="green counter-box p-40">
                    <div class="float-right">
                        <span class="icon icon-users s-48"></span>
                    </div>
                    <div class="sc-counter s-36">1200</div>
                    <h6 class="counter-title">Patients</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sunfollower counter-box p-40">
                    <div class="float-right">
                        <span class="icon icon-startup s-48"></span>
                    </div>
                    <div class="sc-counter s-36">550</div>
                    <h6 class="counter-title">Support Requests</h6>
                </div>
            </div>
        </div>
        <!-- END COUNTERS -->

        <!--  -->
        <div class="row">
            <div class="col-md-6">
                <div class="card my-3 no-b ">
                    <div class="card-header white b-0 p-3">
                        <div class="card-handle">
                            <a data-toggle="collapse" href="#salesCard" aria-expanded="false" aria-controls="salesCard"><i class="icon-menu"></i></a>
                        </div>
                        <h4 class="card-title">Latest Registered Users</h4>
                        <small class="card-subtitle mb-2 text-muted">Subtitle</small>
                    </div>
                    <div class="collapse show" id="salesCard">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover earning-box">
                                    <thead class="bg-light">
                                        <tr>
                                            <th colspan="2">Patient Name</th>
                                            <th>Registered date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php for($i = 0; $i < 5; $i++) : ?>
                                        <tr>
                                            <td class="w-10">
                                                <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                    <img src="assets/img/dummy/u6.png" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <h6>Hamid Akhatar</h6>
                                                <small class="text-muted">hamidhmdsakhatar@gmail.com</small>
                                            </td>
                                            <td>25 July, 2018</td>
                                            <td>
                                                <a href="#" class="btn-fab btn-fab-sm btn-primary text-white"><i class="icon-eye"></i></a>
                                            </td>
                                        </tr>
                                        <?php endfor; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->

    </div>
    <!-- END BODY -->

</div>
<!-- END PAGE -->



{% endblock %}