{% extends 'templates/control-panel/base.twig' %}

{% block title %}Yallacare - Add New Page{% endblock %}

{% block content %}

<!-- TOP PAGE -->
<div class="has-sidebar-left">

    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                <div class="search-bar">
                    <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text" placeholder="start typing...">
                </div>
                <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
            </div>
        </div>
    </div>

    <div class="sticky">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
            <div class="relative">
                <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle"><i></i></a>
            </div>

            <!-- TOP MENU -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown custom-dropdown user user-menu ">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <img src="assets/img/dummy/u8.png" class="user-image" alt="User Image">
                            <i class="icon-more_vert "></i>
                        </a>
                        <div class="dropdown-menu p-4 dropdown-menu-right">
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END TOP MENU -->

        </div>
    </div>

</div>
<!-- END TOP PAGE -->

<!-- PAGE -->
<div class="page has-sidebar-left height-full">

    <!-- HEADER -->
    <header class="blue accent-3 relative nav-sticky">
        <div class="container-fluid text-white">

            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4> <i class="icon-newspaper"></i> Pages</h4>
                </div>
            </div>

            <div class="row justify-content-between">
                <ul class="nav nav-material nav-material-white responsive-tab" id="v-pills-tab" role="tablist">
                    <li class="float-right">
                        <a class="nav-link" href="{{ path_for('pages.list') }}" ><i class="icon icon-home2"></i> All Pages</a>
                    </li>
                    <li class="float-right">
                        <a class="nav-link active" href="{{ path_for('create.new.page') }}" ><i class="icon icon-plus-circle"></i> Add New Page</a>
                    </li>
                </ul>
            </div>
                
        </div>
    </header>
    <!-- END HEADER -->

    <!-- BODY -->
    <div class="container-fluid animatedParent animateOnce">
        <div class="animated fadeInUpShort my-3">
          <form method="post" action="{{ path_for('create.new.page') }}" enctype="multipart/form-data">
                <div class="row">
                    <!-- CONTENT -->
                    <div class="col-md-9">
                        <div class="card b-0 r-0 shadow">
                           <div class="form-group has-icon m-0">
                               <i class="icon-subject"></i>
                               <input class="form-control form-control-lg r-0 b-0" type="text" name="title" id="title" placeholder="Title">
                           </div>
                           <textarea class="editor" name="content" placeholder="Write Something..." rows="17"></textarea>
                           <div class="b-b"></div>
                           <input type="file" id="picture" name="picture" class="d-none"/>
                            <label for="picture" class="py-5 text-center" style="border: 2px dashed #ECF0F1; cursor: pointer; margin: 10px">
                                <div>Click to open file browser</div>
                            </label>
                        </div>
                    </div>
                    <!-- END CONTENT -->

                    <!-- ASIDE -->
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-block btn-lg l-s-1"><i class="icon-save mr-2"></i>Save Data</button>
                        <div class="card my-3">
                            <div class="card-header white">
                               <i class="icon-radio_button_checked blue-text mr-2"></i>
                               <strong> Status </strong>
                           </div>
                           <div class="card-body">
                               <select class="form-control" name="status" id="status">
                                   <option value="1">Publish</option>
                                   <option value="0">Pending</option>
                                </select>
                           </div>
                        </div>
                    </div>
                    <!-- END ASIDE -->
                    {{ csrf.field | raw }}
                </div>
            </form>
        </div>
    </div>
    <!-- END BODY -->

</div>
<!-- END PAGE -->

{% endblock %}