{% extends 'templates/control-panel/base.twig' %}

{% block title %}Yallacare - Pages List{% endblock %}

{% block content %}

<!-- TOP PAGE -->
<div class="has-sidebar-left">

    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                <div class="search-bar">
                    <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text" placeholder="start typing...">
                </div>
                <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
            </div>
        </div>
    </div>

    <div class="sticky">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
            <div class="relative">
                <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle"><i></i></a>
            </div>

            <!-- TOP MENU -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown custom-dropdown user user-menu ">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <img src="assets/img/dummy/u8.png" class="user-image" alt="User Image">
                            <i class="icon-more_vert "></i>
                        </a>
                        <div class="dropdown-menu p-4 dropdown-menu-right">
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                            <div class="row box justify-content-between my-4">
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Apps</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Settings</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END TOP MENU -->

        </div>
    </div>

</div>
<!-- END TOP PAGE -->

<!-- PAGE -->
<div class="page has-sidebar-left height-full">

    <!-- HEADER -->
    <header class="blue accent-3 relative nav-sticky">
        <div class="container-fluid text-white">

            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4> <i class="icon-newspaper"></i> Pages </h4>
                </div>
            </div>

            <div class="row justify-content-between">
                <ul class="nav nav-material nav-material-white responsive-tab" id="v-pills-tab" role="tablist">
                    <li class="float-right">
                        <a class="nav-link active" href="{{ path_for('pages.list') }}" ><i class="icon icon-home2"></i> All Pages</a>
                    </li>
                    <li class="float-right">
                        <a class="nav-link" href="{{ path_for('create.new.page') }}" ><i class="icon icon-plus-circle"></i> Add New Page</a>
                    </li>
                </ul>
            </div>
                
        </div>
    </header>
    <!-- END HEADER -->

    <!-- BODY -->
    <div class="container-fluid">

        {% include 'templates/control-panel/templates/admin/partials/messages.twig' %}

        <div class="card r-0 shadow my-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover r-0">
                        <thead>
                            <tr class="no-b">
                                <th>TITLE</th>
                                <th>AUTHOR</th>
                                <th>DATE</th>
                                <th>STATUS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% if pages is not empty %}
                            {% for page in pages %}
                                <tr>
                                    <td>{{ page.title }}</td>
                                    <td>Hamid Akhatar</td>
                                    <td>{{ page.created_at }}</td>
                                    {% if page.status == 0 %}
                                        <td><span class="icon icon-circle s-12  mr-2 text-warning"></span> Pending</td>
                                    {% elseif page.status == 1  %}
                                        <td><span class="icon icon-circle s-12  mr-2 text-success"></span> Publish</td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ path_for('page.update', { 'id': page.id }) }}"><i class="icon-pencil mr-3"></i></a>
                                        <a href="{{ path_for('page.delete', { 'id': page.id }) }}"><i class="icon-trash-can4"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% endif %}
                            
                        </tbody>
                        <tfoot>
                            <tr class="no-b">
                                <th>TITLE</th>
                                <th>AUTHOR</th>
                                <th>DATE</th>
                                <th>STATUS</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                {% include "templates/control-panel/templates/admin/partials/pagination.twig" %}

            </div>
        </div>
    </div>
    <!-- END BODY -->

</div>
<!-- END PAGE -->

{% endblock %}