{% extends 'base.twig' %}

{% block title %}Yallacare - Blog{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <section class="orange-bg">
        <div class="container">
            <ol class="breadcrumb orange-bg">
                <li class="breadcrumb-item"><a href="{{ path_for('homepage') }}">Home</a></li>
                <li class="breadcrumb-item active">Blog</li>
            </ol>
        </div>
    </section>
    <!-- END BREADCRUMB -->

    <!-- PAGE HEADER -->
    <section class="page-header pt-70 pb-70 d-flex align-items-center justify-content-center" style="background-image: url({{ assets_path }}images/about-bg.jpg)">
        <div class="container">
            <h3 class="text-blue font-weight-bold fz-40 text-center letter-spacing-05">Blog</h3>
        </div>
    </section>
    <!-- END PAGE HEADER -->

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="articles">
                        
                        {% if articles is not empty %}
                        {% for article in articles %}
                        <article>
                            <h3><a href="{{ path_for('blog.single',{ 'id': article.id }) }}">{{ article.title }}</a></h3>
                            <span>Posted on July 3, 2018 by Yallacare</span>
                            <figure>
                                <a href="{{ path_for('blog.single',{ 'id': article.id }) }}"><img src="{{ upload_posts }}{{ article.id | get_post_meta('thumbnail', true) }}"></a>
                            </figure>
                            <p>
                                {{ article.content }}
                            </p>
                        </article>
                        {% endfor %}
                        {% endif %}

                        {% include 'templates/partials/pagination.twig' %}

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <h3 class="widget-title">Search</h3>
                        <form method="get" action="{{ path_for('blog.search') }}">
                            <div class="form-group mb-25">
                                <input type="text" class="form-control" id="search" name="s" placeholder="Title...">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-orange btn-lg btn-block">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="widget">
                        <h3 class="widget-title">categories</h3>

                        {% if get_categories is not empty %}
                            <ul class="menu">
                                {% for category in get_categories %}
                                    <li><a href="{{ path_for('blog.category',{ 'id': category.id }) }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </div>
                    <div class="widget">
                        <h3 class="widget-title">latest news</h3>
                        <div class="posts-widget">
                            <?php for($i = 0; $i < 5; $i++) : ?>
                            <div class="post d-flex">
                                <figure>
                                    <a href="post.php"><img src="{{ assets_path }}images/clinic2.jpg"></a>
                                </figure>
                                <div class="infos">
                                    <h3><a href="post.php">Lorem ipsum dolor sit amet consectetur</a></h3>
                                    <span><i class="far fa-clock"></i> 28-10-2017</span>
                                </div>
                            </div>
                            <?php endfor; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -->

{% endblock %}