{% extends 'base.twig' %}

{% block title %}Yallacare - Hospitals - Search{% endblock %}

{% block content %}

    {% include 'templates/partials/navigation2.twig' %}

    <!-- PAGE HEADER -->
    <section class="page-header pt-70 pb-70 d-flex align-items-center justify-content-center" style="background-image: url({{assets_path}}images/about-bg.jpg)">
        <div class="container">
            <h3 class="text-blue font-weight-bold fz-40 text-center letter-spacing-05">Search Results</h3>
        </div>
    </section>
    <!-- END PAGE HEADER -->

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">
            <div class="row">
                <aside class="col-md-3 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <div class="widget">
                        <h3 class="widget-title">Search Filter</h3>
                        <form method="get" action="{{ path_for('hospitals.search') }}">
                            <div class="form-group mb-25">
                                <label for="hospital_name" class="font-weight-medium letter-spacing-05">Hospital Name</label>
                                <input type="text" class="form-control" id="hospital_name" name="hospital_name" placeholder="Hospital name">
                            </div>
                            <div class="form-group mb-25">
                                <label class="font-weight-medium letter-spacing-05">Specialties</label>
                                
                                {% for sp in a | specialities_list %}
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="sp_{{ sp.id }}" name="speciality[]" value="{{ sp.id }}">
                                        <label class="custom-control-label" for="sp_{{ sp.id }}">{{ sp.name }}</label>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="form-group mb-25">
                                <label class="font-weight-medium letter-spacing-05">Countries</label>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="germany" type="checkbox" class="custom-control-input" id="Germany">
                                    <label class="custom-control-label" for="Germany">Germany</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="spain" type="checkbox" class="custom-control-input" id="Spain">
                                    <label class="custom-control-label" for="Spain">Spain</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="malaysia" type="checkbox" class="custom-control-input" id="Malaysia">
                                    <label class="custom-control-label" for="Malaysia">Malaysia</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="uae" type="checkbox" class="custom-control-input" id="UAE">
                                    <label class="custom-control-label" for="UAE">UAE</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="india" type="checkbox" class="custom-control-input" id="India">
                                    <label class="custom-control-label" for="India">India</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="iran" type="checkbox" class="custom-control-input" id="Iran">
                                    <label class="custom-control-label" for="Iran">Iran</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="korea" type="checkbox" class="custom-control-input" id="Korea">
                                    <label class="custom-control-label" for="Korea">Korea</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="thailand" type="checkbox" class="custom-control-input" id="Thailand">
                                    <label class="custom-control-label" for="Thailand">Thailand</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="srilanka" type="checkbox" class="custom-control-input" id="Srilanka">
                                    <label class="custom-control-label" for="Srilanka">Srilanka</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="turkey" type="checkbox" class="custom-control-input" id="Turkey">
                                    <label class="custom-control-label" for="Turkey">Turkey</label>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-orange btn-lg btn-block">Filter</button>
                            </div>
                        </form>
                    </div>
                </aside>
                <div class="col-md-9">

                    {% if hospitals is not empty %}
                    {% for hospital in hospitals %}
                        <div class="hospital-horizontal-box box-shadow border-radius-10 mb-30" style="padding: 15px 10px">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <figure class="height-130 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                                        <a href="{{ path_for('hospitals.single',{ 'id': hospital.id }) }}"><img src="{{ upload_hospitals }}{{ hospital.id | get_hospital_meta('thumbnail').meta_value }}" class="object-fit-cover full-height full-width border-radius-10"></a>
                                    </figure>
                                </div>
                                <div class="col-lg-5 col-md-7 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                                    <h3 class="fz-16 font-weight-bold mb-10"><a class="hover-effect text-black" href="{{ path_for('hospitals.single',{ 'id': hospital.id }) }}"><i class="fas fa-hospital-alt"></i> {{ hospital.name }}</a></h3>
                                    <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-map-marker-alt"></i> {{ hospital.city }}, {{ hospital.country }}</span>
                                    {% if hospital.type is not empty %}
                                        <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-stethoscope"></i> {{ hospital.type }}</span>
                                    {% endif %}
                                    {% if hospital.price is not empty %}
                                        <span class="fz-14 d-block text-grey"><i class="fas fa-dollar-sign"></i> {{ hospital.price }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-lg-3 col-md-5">
                                    <a href="{{ path_for('hospitals.single',{ 'id': hospital.id }) }}" class="btn btn-primary btn-lg btn-block mb-10">Enquire</a>
                                    <a href="{{ path_for('hospitals.single',{ 'id': hospital.id }) }}" class="btn btn-orange btn-lg btn-block">View Profile</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}

                    {% include 'templates/partials/pagination.twig' %}

                </div>
            </div>
        </div>
    </section>
    <!-- -->

{% endblock %}