{% extends 'base.twig' %}

{% block title %}Yallacare - {{ hospital.name }}{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <section class="orange-bg">
        <div class="container">
            <ol class="breadcrumb orange-bg">
                <li class="breadcrumb-item"><a href="index.php">Home</a></li>
                <li class="breadcrumb-item"><a href="hospitals.php">Hospitals</a></li>
                <li class="breadcrumb-item active">{{ hospital.name }}</li>
            </ol>
        </div>
    </section>
    <!-- END BREADCRUMB -->

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">

            {% include "templates/partials/messages.twig" %}

            <section class="hospital-content box-shadow border-radius-10" style="padding: 20px">
                <div class="row mb-50">
                    <div class="col-lg-4 col-md-12">
                        <figure class="height-130 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                            <a href="{{ path_for('hospitals.single',{ 'id': hospital.id }) }}"><img src="{{ upload_hospitals }}{{ hospital.id | get_hospital_meta('thumbnail').meta_value }}" class="object-fit-cover full-height full-width border-radius-10"></a>
                        </figure>
                    </div>
                    <div class="col-lg-5 col-md-7 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                        <h3 class="fz-16 font-weight-bold mb-10"><a class="hover-effect text-black" href="{{ path_for('hospitals.single',{ 'id': hospital.id }) }}"><i class="fas fa-hospital-alt"></i> {{ hospital.name }}</a></h3>
                        <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-map-marker-alt"></i> {{ hospital.city }}, {{ hospital.country }}</span>
                        {% if hospital.type is not empty %}
                            <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-stethoscope"></i> {{ hospital.type }}</span>
                        {% endif %}
                        {% if hospital.price is not empty %}
                            <span class="fz-14 d-block text-grey"><i class="fas fa-dollar-sign"></i> {{ hospital.price }}</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-5">
                        <a href="#" type="button" class="btn btn-primary btn-lg btn-block mb-10" data-toggle="modal" data-target="#enquire">Enquire</a>
                        <a class="btn btn-orange btn-lg btn-block" data-toggle="collapse" href="#map" role="button" aria-expanded="false" aria-controls="map" >View Map</a>
                    </div>
                    <div class="col-lg-12 collapse mt-30" id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26560.240042498855!2d-5.389248781479561!3d33.682287226515264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda0353572c48e53%3A0x421b89bdd8f41877!2sEl+Hajeb!5e0!3m2!1sen!2sma!4v1531313314005" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="thecontent">
                            <div class="mb-30">
                                <h4 class="content-title">About</h4>
                                {{ hospital.about }}
                            </div>
                            <div class="mb-30">
                                <h4 class="content-title">Amenities</h4>
                                {% if hospital.id | get_hospital_meta('amenties',true) is not empty %}
                                    <ul>
                                    {% for amenty in hospital.id | get_hospital_meta('amenties',true) %}
                                        <li>{{ amenty }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-30">
                            <h4 class="content-title">Gallery</h4>

                            {% if hospital.id | get_hospital_meta('gallery',true) is not empty %}
                                <div class="hospital-gallery owl-carousel">
                                {% for gallery in hospital.id | get_hospital_meta('gallery',true) %}
                                    <a href="{{ upload_hospitals }}{{ gallery }}" class="item"><img src="{{ upload_hospitals }}{{ gallery }}"></a>
                                {% endfor %}
                                </div>
                            {% endif %}

                        </div>
                        <div class="thecontent">
                            <div class="mb-30">
                                <h4 class="content-title">Specializations</h4>
                                {% if hospital.id | get_specialities('hospital') is not empty %}
                                    <ul>
                                        {% for speciality in hospital.id | get_specialities('hospital') %}
                                            <li><a href="{{ path_for('hospitals.speciality', { 'id': speciality.speciality_id }) }}">{{ speciality.speciality_name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="thecontent">
                            <div class="mb-30">
                                <h4 class="content-title">Awards</h4>

                                {% if hospital.id | get_hospital_meta('awards').meta_value is not empty %}
                                    {% for award in hospital.id | get_hospital_meta('awards',true) %}
                                        <div class="mb-20">
                                            <b>{{ award.award_year }}</b>
                                            <p>{{ award.award_name }}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mt-50 box-shadow border-radius-10" style="padding: 20px;">
                <h4 class="content-title mb-30">Doctors</h4>

                {% if doctors is not empty %}
                    {% for doctor in doctors %}
                        <div class="row mb-30">
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                                <figure class="height-150">
                                    <a href="{{ path_for('doctors.single',{ 'id': doctor.id }) }}"><img src="{{ upload_users }}{{ doctor.id | get_user_meta('avatar').meta_value }}" class="object-fit-cover full-height full-width border-radius-10"></a>
                                </figure>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                                <h3 class="fz-16 font-weight-bold mb-10"><a class="hover-effect text-black" href="{{ path_for('doctors.single',{ 'id': doctor.id }) }}"><i class="fas fa-user-md"></i> Dr. {{ doctor.full_name }}</a></h3>
                                <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-map-marker-alt"></i> {{ doctor.city }}, {{ doctor.country }}</span>
                                <span class="mb-5 fz-14 d-block text-grey">
                                    {% set doctor_speciality = doctor.id | get_speciality('doctor') | first %}
                                    <i class="fas fa-stethoscope"></i> {{ doctor_speciality.speciality_name }}
                                </span>
                                <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-star"></i> 5 Years experience</span>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                                {% set doctor_hospital = doctor.hospital_id | get_hospital | first %}
                                {% if doctor_hospital %}
                                    <h3 class="fz-16 font-weight-bold mb-10"><a class="hover-effect text-black" href="{{ path_for('hospitals.single',{ 'id': doctor_hospital.id }) }}"><i class="fas fa-hospital-alt"></i> {{ doctor_hospital.name }}</a></h3>
                                    <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-map-marker-alt"></i> {{ doctor_hospital.city }}, {{ doctor_hospital.country }}</span>
                                    <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-stethoscope"></i> {{ doctor_hospital.type }}</span>
                                    <span class="fz-14 d-block text-grey"><i class="fas fa-dollar-sign"></i> {{ doctor_hospital.price }}</span>
                                {% endif %}
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                                <a href="{{ path_for('doctors.single',{ 'id': doctor.id }) }}" class="btn btn-primary btn-block mb-10">Book Now</a>
                                <a href="{{ path_for('doctors.single',{ 'id': doctor.id }) }}" class="btn btn-orange btn-block">View Profile</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                
            </section>

            <section class="mt-50 box-shadow border-radius-10" style="padding: 20px;">
                <h4 class="content-title mb-30">Reviews</h4>
                
                {% if comments is not empty %}
                    {% for comment in comments %}
                        <div class="review-box mb-30">
                            <div class="media">
                                <img class="d-flex mr-3" src="{{ upload_users }}{{ comment.author_id | get_user_meta('avatar').meta_value }}" alt="{{ comment.author_name }}">
                                <div class="media-body">
                                    <h3 class="mt-0 mb-0 font-weight-medium fz-16">{{ comment.author_name }}</h3>
                                    <span class="fz-12">{{ comment.created_at | date("d F, Y") }}</span>
                                    <ul class="stars">
                                        {% set k = 5 %}
                                        {% for i in range(1, k) %}
                                            <li class='star {% if i <= comment.rate %} selected {% endif %}' data-value='1'><i class='fa fa-star fa-fw'></i></li>
                                        {% endfor %}
                                    </ul>
                                    <p class="mt-2">
                                        {{ comment.content }}
                                    </p>
                                </div>
                            </div>
                            <div class="divider mt-20"></div>
                        </div>
                    {% endfor %}
                {% endif %}
                
                <div class="add-review">
                    {% if auth.check %}
                    <form action="{{ path_for('hospital.add.comment',{ 'id': hospital.id }) }}" method="post">
                        <div class="form-group">
                            <label class="font-weight-medium letter-spacing-05" for="review_message">Leave a review</label>
                            <textarea name="review_message" id="review_message" class="form-control" rows="7"></textarea>
                        </div>
                        
                        <div class='rating-stars'>
                            <ul id='stars'>
                                <li class='star' data-value='1'><i class='fa fa-star fa-fw'></i></li>
                                <li class='star' data-value='2'><i class='fa fa-star fa-fw'></i></li>
                                <li class='star' data-value='3'><i class='fa fa-star fa-fw'></i></li>
                                <li class='star' data-value='4'><i class='fa fa-star fa-fw'></i></li>
                                <li class='star' data-value='5'><i class='fa fa-star fa-fw'></i></li>
                            </ul>
                        </div>
                        <input type="hidden" name="review_rate" id="review_rate" value="0">
                        {{ csrf.field | raw }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-orange">Submit</button>
                        </div>
                    </form>
                    {% else %}
                        <p class="font-weight-medium mb-0">You Must Be Logged In To Comment.</p>
                        <a href="{{ path_for('auth.signin') }}">Log In</a>
                    {% endif %}
                </div>
            </section>

        </div>
    </section>
    <!-- -->

    <!-- -->
    <div class="modal fade" id="enquire" tabindex="-1" role="dialog" aria-labelledby="enquire" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header orange-bg">
                    <h5 class="modal-title text-white" id="exampleModalLabel"><small>Send a medical Enquiry</small> - {{ hospital.name }}</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path_for('hospital.send.enquiry',{ 'id': hospital.id }) }}" method="post">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label d-flex justify-content align-items-center font-weight-medium">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control {{ errors.name ? 'is-invalid' : '' }}" id="name" name="name" placeholder="Name" value="{{ old.name }}">
                                {% if errors.name %}
                                    <div class="invalid-feedback">{{ errors.name | first }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="col-sm-3 col-form-label d-flex justify-content align-items-center font-weight-medium">Phone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control {{ errors.phone ? 'is-invalid' : '' }}" id="phone" name="phone" placeholder="Phone" value="{{ old.phone }}">
                                {% if errors.phone %}
                                    <div class="invalid-feedback">{{ errors.phone | first }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label d-flex justify-content align-items-center font-weight-medium">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control {{ errors.email ? 'is-invalid' : '' }}" id="email" name="email" placeholder="Email" value="{{ old.email }}">
                                {% if errors.email %}
                                    <div class="invalid-feedback">{{ errors.email | first }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="procedure" class="col-sm-3 col-form-label d-flex justify-content align-items-center font-weight-medium">Procedure</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control {{ errors.procedure ? 'is-invalid' : '' }}" id="procedure" name="procedure" placeholder="Procedure" value="{{ old.procedure }}">
                                {% if errors.procedure %}
                                    <div class="invalid-feedback">{{ errors.procedure | first }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="travel_date" class="col-sm-3 col-form-label d-flex justify-content align-items-center font-weight-medium">Travel Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control {{ errors.travel_date ? 'is-invalid' : '' }}" id="travel_date" name="travel_date" placeholder="Travel Date" value="{{ old.travel_date }}">
                                {% if errors.travel_date %}
                                    <div class="invalid-feedback">{{ errors.travel_date | first }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="message" class="col-sm-3 col-form-label d-flex justify-content align-items-center font-weight-medium">Message</label>
                            <div class="col-sm-9">
                                <textarea class="form-control {{ errors.message ? 'is-invalid' : '' }}" id="message" name="message" placeholder="Message" rows="5">{{ old.message }}</textarea>
                                {% if errors.message %}
                                    <div class="invalid-feedback">{{ errors.message | first }}</div>
                                {% endif %}
                            </div>
                        </div>
                        {{ csrf.field | raw }}
                        <div class="form-group mt-30">
                            <button type="submit" class="btn btn-lg btn-orange btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- -->

{% endblock %}