{% extends 'base.twig' %}

{% block title %}Yallacare - Doctors{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <section class="orange-bg">
        <div class="container">
            <ol class="breadcrumb orange-bg">
                <li class="breadcrumb-item"><a href="index.php">Home</a></li>
                <li class="breadcrumb-item active">Doctors List</li>
            </ol>
        </div>
    </section>
    <!-- END BREADCRUMB -->

    <!-- PAGE HEADER -->
    <section class="page-header pt-70 pb-70 d-flex align-items-center justify-content-center" style="background-image: url({{ assets_path }}/images/about-bg.jpg)">
        <div class="container">
            <h3 class="text-blue font-weight-bold fz-40 text-center letter-spacing-05">Doctors List</h3>
        </div>
    </section>
    <!-- END PAGE HEADER -->

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">
            <div class="row">
                <aside class="col-lg-3 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <div class="widget">
                        <h3 class="widget-title">Search Filter</h3>
                        <form method="get" action="{{ path_for('doctors.search') }}">
                            <div class="form-group mb-25">
                                <label for="doctor_name" class="font-weight-medium letter-spacing-05">Doctor Name</label>
                                <input type="text" class="form-control" id="doctor_name" name="doctor_name" placeholder="Doctor name">
                            </div>
                            <div class="form-group mb-25">
                                <label class="font-weight-medium letter-spacing-05">Specialties</label>
                                {% for sp in a | specialities_list %}
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="sp_{{ sp.id }}" name="speciality[]" value="{{ sp.id }}">
                                        <label class="custom-control-label" for="sp_{{ sp.id }}">{{ sp.name }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group mb-25">
                                <label class="font-weight-medium letter-spacing-05">Countries</label>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="germany" type="checkbox" class="custom-control-input" id="Germany">
                                    <label class="custom-control-label" for="Germany">Germany</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="spain" type="checkbox" class="custom-control-input" id="Spain">
                                    <label class="custom-control-label" for="Spain">Spain</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="malaysia" type="checkbox" class="custom-control-input" id="Malaysia">
                                    <label class="custom-control-label" for="Malaysia">Malaysia</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="uae" type="checkbox" class="custom-control-input" id="UAE">
                                    <label class="custom-control-label" for="UAE">UAE</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="india" type="checkbox" class="custom-control-input" id="India">
                                    <label class="custom-control-label" for="India">India</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="iran" type="checkbox" class="custom-control-input" id="Iran">
                                    <label class="custom-control-label" for="Iran">Iran</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="korea" type="checkbox" class="custom-control-input" id="Korea">
                                    <label class="custom-control-label" for="Korea">Korea</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="thailand" type="checkbox" class="custom-control-input" id="Thailand">
                                    <label class="custom-control-label" for="Thailand">Thailand</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="srilanka" type="checkbox" class="custom-control-input" id="Srilanka">
                                    <label class="custom-control-label" for="Srilanka">Srilanka</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="country[]" value="turkey" type="checkbox" class="custom-control-input" id="Turkey">
                                    <label class="custom-control-label" for="Turkey">Turkey</label>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-orange btn-lg btn-block">Filter</button>
                            </div>
                        </form>
                    </div>
                </aside>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12">

                    {% if doctors is not empty %}
                    {% for doctor in doctors %}
                        <div class="doctor-horizontal-box box-shadow border-radius-10 mb-30" style="padding: 15px 10px">
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                                    <figure class="height-150">
                                        <a href="{{ path_for('doctors.single',{ 'id': doctor.id }) }}"><img src="{{ upload_users }}{{ doctor.id | get_user_meta('avatar').meta_value }}" class="object-fit-cover full-height full-width border-radius-10"></a>
                                    </figure>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                                    <h3 class="fz-16 font-weight-bold mb-10"><a class="hover-effect text-black" href="{{ path_for('doctors.single',{ 'id': doctor.id }) }}"><i class="fas fa-user-md"></i> Dr. {{ doctor.full_name }}</a></h3>
                                    <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-map-marker-alt"></i> {{ doctor.city }}, {{ doctor.country }}</span>
                                    <span class="mb-5 fz-14 d-block text-grey">
                                        {% set doctor_speciality = doctor.id | get_speciality('doctor') | first %}
                                        <i class="fas fa-stethoscope"></i> {{ doctor_speciality.speciality_name }}
                                    </span>
                                    <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-star"></i> 5 Years experience</span>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                                    {% set doctor_hospital = doctor.hospital_id | get_hospital | first %}
                                    {% if doctor_hospital %}
                                        <h3 class="fz-16 font-weight-bold mb-10"><a class="hover-effect text-black" href="{{ path_for('hospitals.single',{ 'id': doctor_hospital.id }) }}"><i class="fas fa-hospital-alt"></i> {{ doctor_hospital.name }}</a></h3>
                                        <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-map-marker-alt"></i> {{ doctor_hospital.city }}, {{ doctor_hospital.country }}</span>
                                        <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-stethoscope"></i> {{ doctor_hospital.type }}</span>
                                        <span class="fz-14 d-block text-grey"><i class="fas fa-dollar-sign"></i> {{ doctor_hospital.price }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                                    <a href="{{ path_for('doctors.single',{ 'id': doctor.id }) }}" class="btn btn-primary btn-block mb-10">Book Now</a>
                                    <a href="{{ path_for('doctors.single',{ 'id': doctor.id }) }}" class="btn btn-orange btn-block">View Profile</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                    
                    {% include 'templates/partials/pagination.twig' %}

                </div>
            </div>
        </div>
    </section>
    <!-- -->

{% endblock %}