{% extends 'base.twig' %}

{% block title %}Yallacare - Dr. {{ doctor.full_name }}{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <section class="orange-bg">
        <div class="container">
            <ol class="breadcrumb orange-bg">
                <li class="breadcrumb-item"><a href="{{ path_for('homepage') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path_for('doctors.show') }}">Doctors</a></li>
                <li class="breadcrumb-item active">Dr. {{ doctor.full_name }}</li>
            </ol>
        </div>
    </section>
    <!-- END BREADCRUMB -->

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">

            {% include "templates/partials/messages.twig" %}

            <section class="hospital-content box-shadow border-radius-10" style="padding: 20px">
                <div class="row ">
                    <div class="col-lg-2 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                        <figure class="height-150">
                            <a href="{{ path_for('doctors.single',{ 'id': doctor.id }) }}"><img src="{{ upload_users }}{{ doctor.id | get_user_meta('avatar').meta_value }}" class="object-fit-cover full-height full-width border-radius-10"></a>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                        <h3 class="fz-16 font-weight-bold mb-10"><a class="hover-effect text-black" href="{{ path_for('doctors.single',{ 'id': doctor.id }) }}"><i class="fas fa-user-md"></i> Dr. {{ doctor.full_name }}</a></h3>
                        <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-map-marker-alt"></i> {{ doctor.city }}, {{ doctor.country }}</span>
                        <span class="mb-5 fz-14 d-block text-grey">
                            {% set doctor_speciality = doctor.id | get_speciality('doctor') | first %}
                            <i class="fas fa-stethoscope"></i> {{ doctor_speciality.speciality_name }}
                        </span>
                        <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-star"></i> 5 Years experience</span>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                        {% set doctor_hospital = doctor.hospital_id | get_hospital | first %}
                        {% if doctor_hospital %}
                            <h3 class="fz-16 font-weight-bold mb-10"><a class="hover-effect text-black" href="{{ path_for('hospitals.single',{ 'id': doctor_hospital.id }) }}"><i class="fas fa-hospital-alt"></i> {{ doctor_hospital.name }}</a></h3>
                            <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-map-marker-alt"></i> {{ doctor_hospital.city }}, {{ doctor_hospital.country }}</span>
                            <span class="mb-5 fz-14 d-block text-grey"><i class="fas fa-stethoscope"></i> {{ doctor_hospital.type }}</span>
                            <span class="fz-14 d-block text-grey"><i class="fas fa-dollar-sign"></i> {{ doctor_hospital.price }}</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                        <a href="#" type="button" class="btn btn-primary btn-block mb-10" data-toggle="modal" data-target="#book">Book Now</a>
                    </div>
                </div>

                <div class="divider mt-50 mb-50"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="thecontent">
                            <div class="mb-30">
                                <h4 class="content-title">About</h4>
                                {{ doctor.about }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="thecontent">
                            <div class="mb-30">
                                <h4 class="content-title">Specializations</h4>
                                {% if doctor.id | get_specialities('doctor') is not empty %}
                                    <ul>
                                        {% for speciality in doctor.id | get_specialities('doctor') %}
                                            <li><a href="{{ path_for('doctors.speciality', { 'id': speciality.speciality_id }) }}">{{ speciality.speciality_name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="thecontent">
                            <div class="mb-30">
                                <h4 class="content-title">Qualifications</h4>

                                {% if doctor.id | get_user_meta('qualifications').meta_value is not empty %}
                                    {% for qualification in doctor.id | get_user_meta('qualifications',true) %}
                                        <div class="mb-20">
                                            <b>{{ qualification.qualification_year }}</b>
                                            <p>{{ qualification.qualification_name }}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="mt-50 box-shadow border-radius-10" style="padding: 20px;">
                <h4 class="content-title mb-30">Reviews</h4>
                
                {% if comments is not empty %}
                    {% for comment in comments %}
                        <div class="review-box mb-30">
                            <div class="media">
                                <img class="d-flex mr-3" src="{{ upload_users }}{{ comment.author_id | get_user_meta('avatar').meta_value }}" alt="{{ comment.author_name }}">
                                <div class="media-body">
                                    <h3 class="mt-0 mb-0 font-weight-medium fz-16">{{ comment.author_name }}</h3>
                                    <span class="fz-12">{{ comment.created_at | date("d F, Y") }}</span>
                                    <ul class="stars">
                                        
                                        {% set k = 5 %}
                                        {% for i in range(1, k) %}
                                            <li class='star {% if i <= comment.rate %} selected {% endif %}' data-value='1'><i class='fa fa-star fa-fw'></i></li>
                                        {% endfor %}
                                    </ul>
                                    <p class="mt-2">
                                        {{ comment.content }}
                                    </p>
                                </div>
                            </div>
                            <div class="divider mt-20"></div>
                        </div>
                    {% endfor %}
                {% endif %}
                

                <div class="add-review">
                    {% if auth.check %}
                    <form action="{{ path_for('doctor.add.comment',{ 'id': doctor.id }) }}" method="post">
                        <div class="form-group">
                            <label class="font-weight-medium letter-spacing-05" for="review_message">Leave a review</label>
                            <textarea name="review_message" id="review_message" class="form-control" rows="7"></textarea>
                        </div>
                        
                        <div class='rating-stars'>
                            <ul id='stars'>
                                <li class='star' data-value='1'><i class='fa fa-star fa-fw'></i></li>
                                <li class='star' data-value='2'><i class='fa fa-star fa-fw'></i></li>
                                <li class='star' data-value='3'><i class='fa fa-star fa-fw'></i></li>
                                <li class='star' data-value='4'><i class='fa fa-star fa-fw'></i></li>
                                <li class='star' data-value='5'><i class='fa fa-star fa-fw'></i></li>
                            </ul>
                        </div>
                        <input type="hidden" name="review_rate" id="review_rate" value="0">
                        {{ csrf.field | raw }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-orange">Submit</button>
                        </div>
                    </form>
                    {% else %}
                        <p class="font-weight-medium mb-0">You Must Be Logged In To Comment.</p>
                        <a href="{{ path_for('auth.signin') }}">Log In</a>
                    {% endif %}
                </div>
            </section>

        </div>
    </section>
    <!-- -->

    <!-- -->
    <div class="modal fade" id="book" tabindex="-1" role="dialog" aria-labelledby="book" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header orange-bg">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Book Appointment</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path_for('doctor.book',{ 'id': doctor.id }) }}">
                        <div class="form-group">
                            <label for="date_of_booking" class="form-label font-weight-medium">Date of Booking</label>
                            <input type="date" class="form-control" id="date_of_booking" name="date_of_booking" placeholder="Date of Booking">
                        </div>
                        <div class="form-group">
                            <label for="time_of_booking" class="form-label font-weight-medium">Time of Booking</label>
                            <input type="time" class="form-control" id="time_of_booking" name="time_of_booking" placeholder="Time of Booking">
                        </div>
                        <div class="form-group">
                            <label for="book_message" class="form-label font-weight-medium">Message (Optional)</label>
                            <textarea class="form-control" id="book_message" name="book_message" placeholder="Message" rows="5"></textarea>
                        </div>
                        {{ csrf.field | raw }}
                        <div class="form-group mt-30">
                            <button type="submit" class="btn btn-lg btn-orange btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- -->

{% endblock %}