{% extends 'base.twig' %}

{% block title %}Yallacare - Blog{% endblock %}

{% block content %}

    <div class="page404 text-center pt-70 pb-70">
        <img src="{{ assets_path }}/images/400-error.png">
        <h1 class="font-weight-bold fz-42 mt-30">A bad request was sent.</h1>
        <p class="fz-18">
            Please try again or click the button below to go back to the Homepage.
        </p>
        <a class="btn btn-orange btn-lg" href="{{ path_for('homepage') }}">Homepage</a>

    </div>

{% endblock %}