{% extends 'base.twig' %}

{% block title %}Yallacare - Blog{% endblock %}

{% block content %}

    <div class="page404 text-center pt-70 pb-70">
        <img src="{{ assets_path }}/images/404-error.png">
        <h1 class="font-weight-bold fz-42 mt-30">We couldn't find the page</h1>
        <p class="fz-18">
            Sorry, but the page you are looking for was either not found or does not exist.<br>Try refreshing the page or click the button below to go back to the Homepage.
        </p>
        <a class="btn btn-orange btn-lg" href="{{ path_for('homepage') }}">Homepage</a>

    </div>

{% endblock %}