{% extends 'base.twig' %}

{% block title %}Yallacare - Blog{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <section class="orange-bg">
        <div class="container">
            <ol class="breadcrumb orange-bg">
                <li class="breadcrumb-item"><a href="index.php">Home</a></li>
                <li class="breadcrumb-item active">About us</li>
            </ol>
        </div>
    </section>
    <!-- END BREADCRUMB -->

    <!-- PAGE HEADER -->
    <section class="page-header pt-70 pb-70 d-flex align-items-center justify-content-center" style="background-image: url(assets/images/about-bg.jpg)">
        <div class="container">
            <h3 class="text-blue font-weight-bold fz-40 text-center letter-spacing-05">About Us</h3>
        </div>
    </section>
    <!-- END PAGE HEADER -->

    <!-- -->
    <section class="pb-70 pt-70">
        <div class="container">
            <h3 class="text-black fz-36 font-weight-bold letter-spacing-05 mb-25">Who we are?</h3>
            <div class="row mt-50">
                <div class="col-md-6">
                    <p class="fz-16">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="fz-16">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>

            <div class="divider mt-50 mb-50"></div>

            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30">
                    <div class="statistics d-flex align-items-center">
                        <div class="logo mr-4"><img src="assets/images/chart.png"></div>
                        <div class="content">
                            <span class="d-block fz-30 font-weight-bold text-black letter-spacing-05">150</span>
                            <span class="font-weight-medium text-black letter-spacing-05">Verified Doctors</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30">
                    <div class="statistics d-flex align-items-center">
                        <div class="logo mr-4"><img src="assets/images/chart.png"></div>
                        <div class="content">
                            <span class="d-block fz-30 font-weight-bold text-black letter-spacing-05">50</span>
                            <span class="font-weight-medium text-black letter-spacing-05">HomeCare</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30">
                    <div class="statistics d-flex align-items-center">
                        <div class="logo mr-4"><img src="assets/images/chart.png"></div>
                        <div class="content">
                            <span class="d-block fz-30 font-weight-bold text-black letter-spacing-05">20+</span>
                            <span class="font-weight-medium text-black letter-spacing-05">Digital Assistant</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30">
                    <div class="statistics d-flex align-items-center">
                        <div class="logo mr-4"><img src="assets/images/chart.png"></div>
                        <div class="content">
                            <span class="d-block fz-30 font-weight-bold text-black letter-spacing-05">100+</span>
                            <span class="font-weight-medium text-black letter-spacing-05">Bi Lingual</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- -->

    <!-- TEAMS -->
    <section class="light-grey-bg pt-70 pb-70">
        <div class="container">
            <h3 class="text-black fz-36 font-weight-bold letter-spacing-05 mb-25">Our team</h3>
            <div class="row mt-50">
                <?php for($i = 0; $i < 8; $i++) : ?>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-30">
                    <div class="member-box">
                        <figure>
                            <a href="#" data-toggle="modal" data-target="#member<?php echo $i; ?>"><img src="http://via.placeholder.com/450x650"></a>
                        </figure>
                        <div class="infos">
                            <h4>ghalib nomani</h4>
                            <span>Chief Executive Officer</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="modal fade" id="member<?php echo $i; ?>" tabindex="-1" role="dialog" aria-labelledby="member<?php echo $i; ?>" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header orange-bg">
                                    <h5 class="modal-title text-white" id="exampleModalLabel">Ghalib Nomani</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="w-300 m-auto height-250"><img class="object-fit-cover full-height full-width border-radius-10" src="http://via.placeholder.com/450x650"></div>
                                    <h3 class="text-center text-black fz-16 font-weight-medium letter-spacing-05 mt-10 mb-5">Ghalib Nomani</h3>
                                    <p class="text-orange text-center mb-0">Chief Executive Officer</p>
                                    <div class="divider mt-30 mb-30"></div>
                                    <p>
                                        Ghalib is the Founder and CEO of Yallacare, he started with other co-founders after realising the fact that people across Middle East are not having access to right information about medical tourism and hospitals across the globe which leads to compromise with their health, quality of treatment & exploitation by agents who pass none authentic information and mark-up the quotations from hospitals. He has worked in multiple industries and gained more than 10 years of experience before joining Yallacare. Ghalib works with Yallacare having a vision of making medical travel easy and affordable for everyone around the globe. He is watching movies or having Arabic food whenever he is away from work. “This is my passion to help people to get best treatment at affordable cost without compromising on the quality. Yallacare is a perfect use of technology with healthcare and accessible to everyone across the globe.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            <?php endfor; ?>
            </div>
        </div>
    </section>
    <!-- END TEAMS -->

{% endblock %}