{% extends 'base.twig' %}

{% block title %}Yallacare - Banned{% endblock %}

{% block content %}

    <section class="pt-50 pb-50">
        <div class="container">
            <div class="content-area">
                <h1 class="text-center mb-30">You're Banned!</h1>
                <p class="text-center mb-10">
                    Your IP has been Blocked by Yallacare From accessing www.yallacare.com for violating the our Terms and Conditions of Yallacare.com
                </p>
                <p class="text-center mb-30">
                    Please <a href="contact.php">contact us</a> if you have any doubts or issues.
                </p>
                <div class="text-center"><a class="btn btn-orange" href="contact.php">ok</a></div>
            </div>
        </div>
    </section>

{% endblock %}