{% extends 'base.twig' %}

{% block title %}Yallacare - Contact Us{% endblock %}

{% block content %}

    <!-- PAGE HEADER -->
    <section class="page-header pt-70 pb-70 d-flex align-items-center justify-content-center" style="background-image: url({{ assets_path }}images/about-bg.jpg)">
        <div class="container">
            <h3 class="text-blue font-weight-bold fz-40 text-center letter-spacing-05">Contact Us</h3>
        </div>
    </section>
    <!-- END PAGE HEADER -->

    <!-- MAP -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d467981.51840560464!2d58.48206700000001!3d23.600545!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1530822776372" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <!-- END MAP -->

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">

            <div class="row">
                <div class="col-md-8 mb-md-4 mb-4">

                    {% include "templates/partials/messages.twig" %}

                    <h3 class="text-black fz-24 font-weight-bold letter-spacing-05 mb-25">Send us a message</h3>
                    <form action="{{ path_for('contact') }}" method="post" autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control {{ errors.name ? 'is-invalid' : '' }}" name="name" id="name" placeholder="Name" value="{{ old.name }}">
                            {% if errors.name %}
                                <div class="invalid-feedback">{{ errors.name | first }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control {{ errors.email ? 'is-invalid' : '' }}" name="email" id="email" placeholder="Email Address" value="{{ old.email }}">
                            {% if errors.email %}
                                <div class="invalid-feedback">{{ errors.email | first }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control {{ errors.phone ? 'is-invalid' : '' }}" name="phone" id="phone" placeholder="Phone Number" value="{{ old.phone }}">
                            {% if errors.phone %}
                                <div class="invalid-feedback">{{ errors.phone | first }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control {{ errors.subject ? 'is-invalid' : '' }}" name="subject" id="subject" placeholder="Subject" value="{{ old.subject }}">
                            {% if errors.subject %}
                                <div class="invalid-feedback">{{ errors.subject | first }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <textarea name="message" class="form-control {{ errors.message ? 'is-invalid' : '' }}" id="message" placeholder="message" rows="8">{{ old.message }}</textarea>
                            {% if errors.message %}
                                <div class="invalid-feedback">{{ errors.message | first }}</div>
                            {% endif %}
                        </div>
                        {{ csrf.field | raw }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-orange">Send</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <h3 class="text-black fz-24 font-weight-bold letter-spacing-05 mb-25">Contact Details</h3>
                    <ul class="contact-details">
                        <li><i class="fas fa-map-marker-alt"></i> Hay Nahda Bloc B N 54 El Hajeb, Morocco</li>
                        <li><i class="fas fa-envelope"></i> hamidhmdsakhatar@gmail.com</li>
                        <li><i class="fas fa-phone"></i> +212 687387550</li>
                        <li><i class="fas fa-fax"></i> +212 35542189</li>
                        <li>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter-square"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-google-plus-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- -->

{% endblock %}