{% extends 'base.twig' %}

{% block title %}Yallacare{% endblock %}

{% block content %}

    <!-- HERO SLIDER -->
    <section id="hero-slider" class="d-flex align-items-center justify-content-center">
        <div class="container">
            <form action="" method="post">
                <legend class="text-center">Feeling sick? Find a doctor|Your place for all Health issues|Connecting doctors for best of treatment</legend>
                <div class="form-row align-items-center justify-content-center">
                    <div class="col-md-5">
                        <label class="sr-only" for="specialities">Hospital Speciality</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-user-md"></i></div>
                            </div>
                            <input type="text" class="form-control" id="specialities" placeholder="Hospital Speciality">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label class="sr-only" for="country">Country</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
                            </div>
                            <input type="text" class="form-control" id="country" placeholder="Country">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- END HERO SLIDER -->

    {% include 'templates/partials/navigation2.twig' %}

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-7 order-md-1 order-sm-2 order-2">
                    <h3 class="fz-30 text-blue letter-spacing-05 font-weight-bold mb-35">Health care at your fingertips</h3>
                    <p class="fz-18 mb-20 text-black">Health care for your loved ones and assist to get the best suited treatment, now available right away with your helping fingers.</p>
                    <p class="fz-18 mb-20 text-black">Find the desired place, choose the best hospital, select the right Doctor and pick your best Treatment Plan. All these and much more from YallaCare. We are offering personalised services as below</p>
                    <ul class="theme-list">
                        <li class="fz-18 text-black font-weight-medium">Free customized quotes from treatment providers</li>
                        <li class="fz-18 text-black font-weight-medium">Choose your best suited hospitals from across the world</li>
                        <li class="fz-18 text-black font-weight-medium">Quality treatment & affordable plan, choose from various options</li>
                        <li class="fz-18 text-black font-weight-medium">Information about Insurance and its availability at each of the hospitals</li>
                    </ul>
                </div>
                <div class="col-md-5 text-center order-md-2 order-sm-1 order-1 mb-sm-4 mb-4">
                    <img src="{{ assets_path }}images/doctor.png">
                </div>
            </div>
        </div>
    </section>
    <!-- -->

    <!-- SERVICES -->
    <section class="pt-70 pb-70 light-grey-bg">
        <div class="container">
            <h3 class="text-blue fz-40 font-weight-bold text-center letter-spacing-05 mb-25">Services we offer</h3>
            <div class="row mt-70">
                <div class="col-md-4 mb-50">
                    <div class="service-box d-flex align-items-center">
                        <div class="logo mr-4"><img src="{{ assets_path }}images/service.jpg"></div>
                        <div class="title">
                            <h3 class="font-weight-medium letter-spacing-05 text-blue fz-20 mb-0">Lorem ipsum feature</h3>
                            <span class="font-weight-medium letter-spacing-05 text-black fz-16">Lorem ipsum sit amet </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-50">
                    <div class="service-box d-flex align-items-center">
                        <div class="logo mr-4"><img src="{{ assets_path }}images/service.jpg"></div>
                        <div class="title">
                            <h3 class="font-weight-medium letter-spacing-05 text-blue fz-20 mb-0">Lorem ipsum feature</h3>
                            <span class="font-weight-medium letter-spacing-05 text-black fz-16">Lorem ipsum sit amet </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-50">
                    <div class="service-box d-flex align-items-center">
                        <div class="logo mr-4"><img src="{{ assets_path }}images/service.jpg"></div>
                        <div class="title">
                            <h3 class="font-weight-medium letter-spacing-05 text-blue fz-20 mb-0">Lorem ipsum feature</h3>
                            <span class="font-weight-medium letter-spacing-05 text-black fz-16">Lorem ipsum sit amet </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-50">
                    <div class="service-box d-flex align-items-center">
                        <div class="logo mr-4"><img src="{{ assets_path }}images/service.jpg"></div>
                        <div class="title">
                            <h3 class="font-weight-medium letter-spacing-05 text-blue fz-20 mb-0">Lorem ipsum feature</h3>
                            <span class="font-weight-medium letter-spacing-05 text-black fz-16">Lorem ipsum sit amet </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-50">
                    <div class="service-box d-flex align-items-center">
                        <div class="logo mr-4"><img src="{{ assets_path }}images/service.jpg"></div>
                        <div class="title">
                            <h3 class="font-weight-medium letter-spacing-05 text-blue fz-20 mb-0">Lorem ipsum feature</h3>
                            <span class="font-weight-medium letter-spacing-05 text-black fz-16">Lorem ipsum sit amet </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-50">
                    <div class="service-box d-flex align-items-center">
                        <div class="logo mr-4"><img src="{{ assets_path }}images/service.jpg"></div>
                        <div class="title">
                            <h3 class="font-weight-medium letter-spacing-05 text-blue fz-20 mb-0">Lorem ipsum feature</h3>
                            <span class="font-weight-medium letter-spacing-05 text-black fz-16">Lorem ipsum sit amet </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SERVICES -->

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">
            <h3 class="text-blue fz-40 font-weight-bold text-center letter-spacing-05 mb-25">Common treatments and Surgeries</h3>
            <p class="text-center text-black fz-20">Largest database of doctors across every speciality; for all your needs.</p>
            <div class="row mt-50">
                <div class="col-md-6 mb-md-4 mb-4">
                    <div class="surgery-box d-flex align-items-center">
                        <a href="specialities.php" class="thelink"></a>
                        <div class="logo mr-4"><img src="{{ assets_path }}images/surgerylogo.png"></div>
                        <div class="title mr-4">
                            <h3 class="font-weight-medium letter-spacing-05 text-blue fz-20 mb-5">Cosmetology & Aesthetics</h3>
                            <span class="font-weight-medium letter-spacing-05 text-black fz-16">521 Treatment procedure</span>
                        </div>
                        <div class="more flex-grow-1 text-right text-purple fz-24"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="col-md-6 mb-md-4 mb-4">
                    <div class="surgery-box d-flex align-items-center">
                        <a href="specialities.php" class="thelink"></a>
                        <div class="logo mr-4"><img src="{{ assets_path }}images/surgerylogo.png"></div>
                        <div class="title mr-4">
                            <h3 class="font-weight-medium letter-spacing-05 text-blue fz-20 mb-5">Cosmetology & Aesthetics</h3>
                            <span class="font-weight-medium letter-spacing-05 text-black fz-16">521 Treatment procedure</span>
                        </div>
                        <div class="more flex-grow-1 text-right text-purple fz-24"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="col-md-6 mb-md-4 mb-4">
                    <div class="surgery-box d-flex align-items-center">
                        <a href="specialities.php" class="thelink"></a>
                        <div class="logo mr-4"><img src="{{ assets_path }}images/surgerylogo.png"></div>
                        <div class="title mr-4">
                            <h3 class="font-weight-medium letter-spacing-05 text-blue fz-20 mb-5">Cosmetology & Aesthetics</h3>
                            <span class="font-weight-medium letter-spacing-05 text-black fz-16">521 Treatment procedure</span>
                        </div>
                        <div class="more flex-grow-1 text-right text-purple fz-24"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="col-md-6 mb-md-4 mb-4">
                    <div class="surgery-box d-flex align-items-center">
                        <a href="specialities.php" class="thelink"></a>
                        <div class="logo mr-4"><img src="{{ assets_path }}images/surgerylogo.png"></div>
                        <div class="title mr-4">
                            <h3 class="font-weight-medium letter-spacing-05 text-blue fz-20 mb-5">Cosmetology & Aesthetics</h3>
                            <span class="font-weight-medium letter-spacing-05 text-black fz-16">521 Treatment procedure</span>
                        </div>
                        <div class="more flex-grow-1 text-right text-purple fz-24"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
            </div>

            <ul class="list-inline text-center mt-30">
                <li class="list-inline-item"><a class="btn btn-primary btn-lg" href="specialities.php">View All</a></li>
                <li class="list-inline-item"><a class="btn btn-orange btn-lg" href="hospitals.php">Book Now</a></li>
            </ul>

        </div>
    </section>
    <!-- -->

    <!-- -->
    <section class="pt-70 pb-70 purple-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-center mb-sm-0 mb-4">
                    <img src="{{ assets_path }}images/vector.png">
                </div>
                <div class="col-md-7">
                    <h3 class="fz-30 text-blue letter-spacing-05 font-weight-bold mb-35 text-orange">All over the world!</h3>
                    <p class="fz-18 mb-20 text-white font-weight-medium">No Fee & No cancellation charges, great saving and one stop access to details of 100+ hospitals in various countries. We believe every individual has right to get quality and affordable medical treatment.</p>
                    <p class="fz-18 mb-20 text-white">At YallaCare, we value your health and offer the best service to you and your loved ones. The dynamic platform provides complete analytical information related to various health and medical treatment.</p>
                    <a href="#" class="btn btn-orange btn-lg">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- -->

    <!-- -->
    <section class="pt-70 pb-70">
        <div class="container">
            <h3 class="text-blue fz-40 font-weight-bold text-center letter-spacing-05 mb-25">Partner hospitals</h3>
            <div class="row mt-50">
                <div class="col-md-4 mb-md-0 mb-sm-4 mb-4">
                    <div class="hospital-box">
                        <a href="hospital-profile.php" class="thelink"></a>
                        <div class="row">
                            <div class="col-md-6"><img src="{{ assets_path }}images/clinic2.jpg"></div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="pt-2 pb-2 pr-2 pl-2">
                                    <h3 class="font-weight-bold text-black letter-spacing-05 fz-16">Apollo Hospital</h3>
                                    <span class="d-block text-black font-weight-medium">SCO- 2939, Linking Rd</span>
                                    <span class="d-block text-grey">Bangalore</span>
                                    <span class="d-block text-black font-weight-medium">Mon-Sat 9:00 - 20:00</span>
                                    <span class="d-block text-black mt-30 font-weight-bold">INR 5000-7000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 mb-sm-4 mb-4">
                    <div class="hospital-box">
                        <a href="hospital-profile.php" class="thelink"></a>
                        <div class="row">
                            <div class="col-md-6"><img src="{{ assets_path }}images/clinic3.jpg"></div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="pt-2 pb-2 pr-2 pl-2">
                                    <h3 class="font-weight-bold text-black letter-spacing-05 fz-16">Apollo Hospital</h3>
                                    <span class="d-block text-black font-weight-medium">SCO- 2939, Linking Rd</span>
                                    <span class="d-block text-grey">Bangalore</span>
                                    <span class="d-block text-black font-weight-medium">Mon-Sat 9:00 - 20:00</span>
                                    <span class="d-block text-black mt-30 font-weight-bold">INR 5000-7000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 mb-sm-4 mb-4">
                    <div class="hospital-box">
                        <a href="hospital-profile.php" class="thelink"></a>
                        <div class="row">
                            <div class="col-md-6"><img src="{{ assets_path }}images/clinic4.jpg"></div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="pt-2 pb-2 pr-2 pl-2">
                                    <h3 class="font-weight-bold text-black letter-spacing-05 fz-16">Apollo Hospital</h3>
                                    <span class="d-block text-black font-weight-medium">SCO- 2939, Linking Rd</span>
                                    <span class="d-block text-grey">Bangalore</span>
                                    <span class="d-block text-black font-weight-medium">Mon-Sat 9:00 - 20:00</span>
                                    <span class="d-block text-black mt-30 font-weight-bold">INR 5000-7000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -->

    <!-- BLOG -->
    <section class="pt-70 pb-70 light-grey-bg">
        <div class="container">
            <h3 class="text-grey fz-40 font-weight-bold text-center letter-spacing-05 mb-25">Latest News</h3>
            <div class="mt-50 articles-carousel owl-carousel">
                <div>
                    <article>
                        <figure class="mb-20">
                            <a href="post.php"><img class="border-radius-10 object-fit-cover full-width full-height" src="{{ assets_path }}images/clinic4.jpg"></a>
                        </figure>
                        <h3 class="text-black font-weight-bold letter-spacing-05 fz-18 mb-20">Lorem ipsum dolor sit amet</h3>
                        <p class="text-black fz-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis blanditiis nobis ipsa id ducimus reiciendis sunt nisi eius, ex accusamus consectetur aspernatur atque fuga eaque.</p>
                    </article>
                </div>
                <div>
                    <article>
                        <figure class="mb-20">
                            <a href="post.php"><img class="border-radius-10 object-fit-cover full-width full-height" src="{{ assets_path }}images/clinic4.jpg"></a>
                        </figure>
                        <h3 class="text-black font-weight-bold letter-spacing-05 fz-18 mb-20">Lorem ipsum dolor sit amet</h3>
                        <p class="text-black fz-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis blanditiis nobis ipsa id ducimus reiciendis sunt nisi eius, ex accusamus consectetur aspernatur atque fuga eaque.</p>
                    </article>
                </div>
                <div>
                    <article>
                        <figure class="mb-20">
                            <a href="post.php"><img class="border-radius-10 object-fit-cover full-width full-height" src="{{ assets_path }}images/clinic4.jpg"></a>
                        </figure>
                        <h3 class="text-black font-weight-bold letter-spacing-05 fz-18 mb-20">Lorem ipsum dolor sit amet</h3>
                        <p class="text-black fz-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis blanditiis nobis ipsa id ducimus reiciendis sunt nisi eius, ex accusamus consectetur aspernatur atque fuga eaque.</p>
                    </article>
                </div>
                <div>
                    <article>
                        <figure class="mb-20">
                            <a href="post.php"><img class="border-radius-10 object-fit-cover full-width full-height" src="{{ assets_path }}images/clinic4.jpg"></a>
                        </figure>
                        <h3 class="text-black font-weight-bold letter-spacing-05 fz-18 mb-20">Lorem ipsum dolor sit amet</h3>
                        <p class="text-black fz-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis blanditiis nobis ipsa id ducimus reiciendis sunt nisi eius, ex accusamus consectetur aspernatur atque fuga eaque.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- END BLOG -->

    <!-- TESTIMONIALS -->
    <section class="pt-70 pb-70">
        <div class="container">
            <h3 class="text-grey fz-40 font-weight-bold text-center letter-spacing-05 mb-25">What our customers say</h3>
            <div class="testimonials mt-50">
                <div class="quotes owl-carousel">
                    <div><p class="fz-24 text-blue font-weight-bold text-center">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptas dolores delectus doloremque maxime ducimus voluptatibus doloribus. Minima."</p><span class="text-grey fz-18 text-center d-block">John doe</span></div>
                    <div><p class="fz-24 text-blue font-weight-bold text-center">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptas dolores delectus doloremque maxime ducimus voluptatibus doloribus. Minima."</p><span class="text-grey fz-18 text-center d-block">John doe</span></div>
                    <div><p class="fz-24 text-blue font-weight-bold text-center">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptas dolores delectus doloremque maxime ducimus voluptatibus doloribus. Minima."</p><span class="text-grey fz-18 text-center d-block">John doe</span></div>
                </div>
                <a href="#" class="arrow right-arrow"><i class="fas fa-chevron-right"></i></a>
                <a href="#" class="arrow left-arrow"><i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </section>
    <!-- END TESTIMONIALS -->

{% endblock %}