{% extends 'base.twig' %}

{% block title %}Yallacare - How{% endblock %}

{% block content %}

    {% include 'templates/partials/navigation2.twig' %}

    <!-- PAGE HEADER -->
    <section class="page-header pt-70 pb-70 d-flex align-items-center justify-content-center" style="background-image: url(assets/images/about-bg.jpg)">
        <div class="container">
            <h3 class="text-blue font-weight-bold fz-40 text-center letter-spacing-05">How it works</h3>
        </div>
    </section>
    <!-- END PAGE HEADER -->

    <!-- -->
    <section class="pb-70 pt-70">
        <div class="container">
            <h3 class="text-blue fz-40 font-weight-bold text-center letter-spacing-05 mb-25">Here's how treatment Abroad works</h3>
            <div class="row mt-50">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <figure class="text-center"><img src="assets/images/send.png"></figure>
                    <h3 class="text-center fz-18 font-weight-medium letter-spacing-05">Send us a medical enquiry</h3>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <figure class="text-center"><img src="assets/images/doctoricon.png"></figure>
                    <h3 class="text-center fz-18 font-weight-medium letter-spacing-05">We suggest best Doctors & Hospitals abroad</h3>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <figure class="text-center"><img src="assets/images/suitcase.png"></figure>
                    <h3 class="text-center fz-18 font-weight-medium letter-spacing-05">We faciliate your entire travel</h3>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <figure class="text-center"><img src="assets/images/vaccine.png"></figure>
                    <h3 class="text-center fz-18 font-weight-medium letter-spacing-05">Get Personalised Care & Treatment</h3>
                </div>
            </div>

        </div>
    </section>
    <!-- -->

    <!-- -->
    <section class="pt-70 pb-70 light-grey-bg">
        <div class="container">
            <figure class="text-center mb-25"><img src="assets/images/heart.png"></figure>
            <h3 class="text-center text-black letter-spacing-05 fz-24 font-weight-bold mb-25">Yallacare Advantage</h3>
            <p class="fz-16 text-black">
                YallaCare is the primary healthcare platform facilitating search and book services. YallaCare is also the best medical tourism facilitator in the Middle East region. Keeping aim of addressing our customer needs, we provide service in both English and Arabic. Automated Workflow and Reminder. YallaCare helps you navigate from search to booking apppointments with ease. It is only a click of the mouse. The moment you book your appointment, YalalCare turns into a virtual nursing secretary. YallaCare will confirm your timings from doctors and clinics and you. Moreover it send alert reminders to you and doctors on the day of appointment. Change of appointment is also facilitated by YallaCare from your dashboard page.
            </p>
        </div>
    </section>
    <!-- -->
    
{% endblock %}