{% extends 'base.twig' %}

{% block title %}Yallacare - Locations{% endblock %}

{% block content %}

    {% include 'templates/partials/navigation2.twig' %}

    <!-- -->
    <section class="pb-70 pt-70">
        <div class="container">
            <h3 class="text-blue fz-40 font-weight-bold text-center letter-spacing-05 mb-75">Locations we operate in</h3>
            <figure class="mb-25 text-center"><img src="assets/images/wmap.png"></figure>
            <div class="row mt-50">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-md-4 mb-sm-4 mb-4">
                    <a href="#">
                        <figure class="height-150"><img class="border-radius-10 object-fit-cover full-height full-width" src="assets/images/locations/1.jpg"></figure>
                        <h4 class="fz-16 letter-spacing-05 font-weight-medium text-center"><a class="hover-effect text-black" href="#">Germany</a></h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-md-4 mb-sm-4 mb-4">
                    <a href="#">
                        <figure class="height-150"><img class="border-radius-10 object-fit-cover full-height full-width" src="assets/images/locations/2.jpg"></figure>
                        <h4 class="fz-16 letter-spacing-05 font-weight-medium text-center"><a class="hover-effect text-black" href="#">Spain</a></h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-md-4 mb-sm-4 mb-4">
                    <a href="#">
                        <figure class="height-150"><img class="border-radius-10 object-fit-cover full-height full-width" src="assets/images/locations/3.jpg"></figure>
                        <h4 class="fz-16 letter-spacing-05 font-weight-medium text-center"><a class="hover-effect text-black" href="#">Malaysia</a></h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-md-4 mb-sm-4 mb-4">
                    <a href="#">
                        <figure class="height-150"><img class="border-radius-10 object-fit-cover full-height full-width" src="assets/images/locations/4.jpg"></figure>
                        <h4 class="fz-16 letter-spacing-05 font-weight-medium text-center"><a class="hover-effect text-black" href="#">UAE</a></h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-md-4 mb-sm-4 mb-4">
                    <a href="#">
                        <figure class="height-150"><img class="border-radius-10 object-fit-cover full-height full-width" src="assets/images/locations/5.jpg"></figure>
                        <h4 class="fz-16 letter-spacing-05 font-weight-medium text-center"><a class="hover-effect text-black" href="#">India</a></h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-md-4 mb-sm-4 mb-4">
                    <a href="#">
                        <figure class="height-150"><img class="border-radius-10 object-fit-cover full-height full-width" src="assets/images/locations/6.jpg"></figure>
                        <h4 class="fz-16 letter-spacing-05 font-weight-medium text-center"><a class="hover-effect text-black" href="#">Iran</a></h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-md-4 mb-sm-4 mb-4">
                    <a href="#">
                        <figure class="height-150"><img class="border-radius-10 object-fit-cover full-height full-width" src="assets/images/locations/7.jpg"></figure>
                        <h4 class="fz-16 letter-spacing-05 font-weight-medium text-center"><a class="hover-effect text-black" href="#">Korea</a></h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-md-4 mb-sm-4 mb-4">
                    <a href="#">
                        <figure class="height-150"><img class="border-radius-10 object-fit-cover full-height full-width" src="assets/images/locations/8.jpg"></figure>
                        <h4 class="fz-16 letter-spacing-05 font-weight-medium text-center"><a class="hover-effect text-black" href="#">Thailand</a></h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-md-4 mb-sm-4 mb-4">
                    <a href="#">
                        <figure class="height-150"><img class="border-radius-10 object-fit-cover full-height full-width" src="assets/images/locations/9.jpg"></figure>
                        <h4 class="fz-16 letter-spacing-05 font-weight-medium text-center"><a class="hover-effect text-black" href="#">Srilanka</a></h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-md-4 mb-sm-4 mb-4">
                    <a href="#">
                        <figure class="height-150"><img class="border-radius-10 object-fit-cover full-height full-width" src="assets/images/locations/10.jpg"></figure>
                        <h4 class="fz-16 letter-spacing-05 font-weight-medium text-center"><a class="hover-effect text-black" href="#">Turkey</a></h4>
                    </a>
                </div>
            </div>
            <h3 class="text-black letter-spacing-05 fz-24 font-weight-bold mb-25 mt-50">More than 8 countries for you to select:</h3>
            <p class="fz-16 text-black">
                YallaCare gives you access to more than 8 countries to search for your suitable treatment plans best of the costs and facilities. We are committed to offer most transparent treatment plans and best offers from each of the hospitals in our network, thanks to our strong relationship with hospitals in all these countries. We choose only the best names in each of the countries and making them available for you to select as per your desires. You would like to visit best of the locations while getting the treatment done or just travel for specific therapy, we offer treatment plans which suits individual needs while considering their preferred destination.
                <br>
                <br>
                Explore more by selecting any of your favourite destinations to read more.
            </p>
        </div>
    </section>
    <!-- -->

{% endblock %}