{% extends 'base.twig' %}

{% block title %}Yallacare - Second Opinion{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <section class="orange-bg">
        <div class="container">
            <ol class="breadcrumb orange-bg">
                <li class="breadcrumb-item"><a href="{{ path_for('homepage') }}">Home</a></li>
                <li class="breadcrumb-item active">Second Opinion</li>
            </ol>
        </div>
    </section>
    <!-- END BREADCRUMB -->

    <!-- PAGE HEADER -->
    <section class="page-header pt-70 pb-70 d-flex align-items-center justify-content-center" style="background-image: url({{ assets_path }}images/about-bg.jpg)">
        <div class="container">
            <h3 class="text-blue font-weight-bold fz-40 text-center letter-spacing-05">Get a 2nd Opinion from <br> Medical Experts.</h3>
        </div>
    </section>
    <!-- END PAGE HEADER -->

    <!-- -->
    <section class="pb-70 pt-70">
        <div class="container">
            <h3 class="text-blue fz-40 font-weight-bold text-center letter-spacing-05 mb-25">How it works</h3>
            <div class="row mt-50">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <figure class="text-center"><img src="assets/images/first-aid-kit.png"></figure>
                    <h3 class="text-center fz-18 font-weight-medium letter-spacing-05">Find a doctor/hospital</h3>
                    <p class="text-black text-center mt-20">Select the speciality for specific treatment/needs.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <figure class="text-center"><img src="assets/images/report.png"></figure>
                    <h3 class="text-center fz-18 font-weight-medium letter-spacing-05">Upload your medical report</h3>
                    <p class="text-black text-center mt-20">Send us all the related documents though file uploader and be assured about your privacy.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <figure class="text-center"><img src="assets/images/doctor3.png"></figure>
                    <h3 class="text-center fz-18 font-weight-medium letter-spacing-05">Get a 2nd Opinion from Medical Expert</h3>
                    <p class="text-black text-center mt-20">The specialist doctor will revert back within 24 working hours to you with complete study and details.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- -->

    <!-- -->
    <section class="pt-70 pb-70 light-grey-bg">
        <div class="container">
            <h3 class="text-blue fz-40 font-weight-bold text-center letter-spacing-05 mb-25">Tell us about your medical condition</h3>
            <p class="font-weight-medium text-black text-center fz-16">Be REST ASSURED before you decide to get CURED</p>
            <p class="text-black text-center fz-16">Many times the treatment plan gets changes after the second opinion and it’s a proven fact. We encourage our users to discuss with at least one more doctor before taking any decision. Working on the treatment plans and traveling to other destination is a time consuming and costly affair.</p>
            <p class="text-black text-center fz-16">Second opinion gives you more confidence and helps you to decide firmly on your plan to get the treatment.</p>
            <p class="text-black text-center fz-16">YallaCare is ready to serve you with that though our highly qualified Doctors who are experts in specific specialities and every query of second opinion is being handled by one specialist doctor who review all the reports and perform his/her own diagnostics before suggesting on the same.</p>

            <form action="{{ path_for('second.opinion') }}" method="post" enctype="multipart/form-data" class="mt-50">

                {% include "templates/partials/messages.twig" %}

                <div class="row">
                    <div class="col-md-6 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="name">Name</label>
                        <input type="text" class="form-control {{ errors.name ? 'is-invalid' : '' }}" name="name" id="name" placeholder="Name" value="{{ old.name }}">
                        {% if errors.name %}
                            <div class="invalid-feedback">{{ errors.name | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="email">Email Address</label>
                        <input type="text" class="form-control {{ errors.email ? 'is-invalid' : '' }}" name="email" id="email" placeholder="Email Address" value="{{ old.email }}">
                        {% if errors.email %}
                            <div class="invalid-feedback">{{ errors.email | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="phone">Phone no</label>
                        <input type="text" class="form-control {{ errors.phone ? 'is-invalid' : '' }}" name="phone" id="phone" placeholder="Phone no" value="{{ old.phone }}">
                        {% if errors.phone %}
                            <div class="invalid-feedback">{{ errors.phone | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="report">Report</label>
                        <input type="file" class="form-control" name="report" id="report" placeholder="Report">
                    </div>
                    <div class="col-md-12 mb-30">
                        <label class="font-weight-medium letter-spacing-05" for="message">Message</label>
                        <textarea class="form-control {{ errors.message ? 'is-invalid' : '' }}" name="message" placeholder="Message" rows="7">{{ old.message }}</textarea>
                        {% if errors.message %}
                            <div class="invalid-feedback">{{ errors.message | first }}</div>
                        {% endif %}
                    </div>
                    {{ csrf.field | raw }}
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-lg btn-orange">Send Details</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- -->

    <!-- -->
    <section class="pb-70 pt-70">
        <div class="container">
            <h3 class="text-blue fz-40 font-weight-bold text-center letter-spacing-05 mb-25">Our Features</h3>
            <div class="row mt-50">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <figure class="text-center"><img src="assets/images/shield.png"></figure>
                    <h3 class="text-center fz-18 font-weight-medium letter-spacing-05">Private</h3>
                    <p class="text-black text-center mt-20">We keep all your medical reports limited to specialist doctors only, you can rely on us 100%.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <figure class="text-center"><img src="assets/images/clock.png"></figure>
                    <h3 class="text-center fz-18 font-weight-medium letter-spacing-05">48 hour reply</h3>
                    <p class="text-black text-center mt-20">No excuses, we start our processes the minute we receive your detailed medical reports and committed to reply within 48 working hours.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                    <figure class="text-center"><img src="assets/images/bank.png"></figure>
                    <h3 class="text-center fz-18 font-weight-medium letter-spacing-05">Save Money</h3>
                    <p class="text-black text-center mt-20">Get the best doctors in the industry to review your case and give you a comprehensive report based on the medical reports provided at minor cost. With us you can save more than 40% of the cost.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- -->

{% endblock %}