{% extends 'base.twig' %}

{% block title %}Yallacare - Site Maintenance{% endblock %}

{% block content %}

    <section class="pt-50 pb-50 text-center">
        <div class="container">
            <img src="assets/images/logo.jpg">
            <h1 class="font-weight-bold fz-42 mt-30">Site Maintenance</h1>
            <h3 class="mb-30">Site may be down for maintenance...</h3>
            <p class="fz-18">
                We will be back very soon. One of Yallacare's host is being upgraded currently. Don't worry. we will refresh this site every 1 minute! Please be stayed tuned in yallacare's facebook and twitter page for more informations.
            </p>
            <p>
                Thanks, The Yallacare Team
            </p>
        </div>  
    </section>

{% endblock %}