<!-- FOOTER -->
<footer id="footer" class="pt-70 pb-70 light-black-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                <ul class="footer-menu mb-20">
                    <li><a href="{{ path_for('homepage') }}">Home</a></li>
                    <li><a href="{{ path_for('blog.list') }}">Blog</a></li>
                    <li><a href="hospitals.php">Treatment Abroad</a></li>
                    <li><a href="{{ path_for('second.opinion') }}">Second Opinion</a></li>
                    <li><a href="{{ path_for('contact') }}">Contact Us</a></li>
                    <li><a href="{{ path_for('aboutus') }}">About Us</a></li>
                </ul>
                <p class="text-grey mb-0">
                    YallaCare is for patients, either looking for second opinion with expert specialists or traveling to popular destination for specific treatment. We help patients to access better healthcare and making it available for people everywhere. We are connected with all the hospitals, response quickly and help patients to avail affordable treatment anytime.
                </p>
            </div>
            <div class="col-md-4">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FYallacareME%2F&tabs&width=340&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1762064850693543" width="100%" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</footer>
<section class="pt-30 pb-30 black-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-lg-1 order-md-1 order-sm-2 order-2">
                <p class="text-white letter-spacing-05 mb-0 text-lg-left text-md-left text-sm-center text-center">Copyright 2018 &copy; Yallacare</p>
            </div>
            <div class="col-md-7 order-lg-2 order-md-2 order-sm-1 order-1 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                <ul class="copyright-menu text-lg-right text-md-right text-sm-center text-center">
                    <li><a href="#">Accesibility</a></li>
                    <li><a href="#">Second Opinion</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
</section>
<!-- END FOOTER -->