{% if flash.getMessage('success') %}
    <div class="my-3 alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>Success!</strong> {{ flash.getMessage('success') | first }}
    </div>
{% endif %}

{% if flash.getMessage('error') %}
    <div class="my-3 alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <strong>Error!</strong> {{ flash.getMessage('error') | first }}
    </div>
{% endif %}

{% if flash.getMessage('info') %}
    <div class="my-3 alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <strong>Info!</strong> {{ flash.getMessage('info') | first }}
    </div>
{% endif %}