<!-- HEADER -->
<header id="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ path_for('homepage') }}"><img src="{{ assets_path }}images/logo.jpg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ path_for('homepage') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path_for('blog.list') }}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="hospitals.php">Treatment Abroad</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path_for('second.opinion') }}">Second Opinion</a></li>
                    {% if auth.check %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your Account!</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path_for('patient.profile', { 'id': auth.user.id }) }}"><i class="fas fa-user"></i> Profile</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-clock"></i> History</a>
                            <div class="dropdown-divider"></div>
                            {% if auth.is_admin %}
                                <a class="dropdown-item" href="{{ path_for('admin.index') }}"><i class="fas fa-columns"></i> Control Panel</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path_for('auth.signout') }}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path_for('auth.signin') }}">Account</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- END HEADER -->