<!-- SECOND MENU -->
<section class="pt-40 pb-40 purple-bg has-top-border">
    <div class="container">
        <ul class="list-inline d-md-flex second-menu">
            <li class="flex-grow-1"><a href="treatments.php"><i class="fas fa-briefcase-medical"></i> Treatments</a></li>
            <li class="flex-grow-1"><a href="{{ path_for('locations') }}"><i class="fas fa-map-marked-alt"></i> Locations</a></li>
            <li class="flex-grow-1"><a href="{{ path_for('hospitals.show') }}"><i class="fas fa-hospital-alt"></i> Hospitals</a></li>
            <li class="flex-grow-1"><a href="{{ path_for('howitworks') }}"><i class="fas fa-question"></i> How it works?</a></li>
            <li class="flex-grow-1"><a href="#"><i class="fas fa-stethoscope"></i> Services</a></li>
        </ul>
    </div>
</section>
<!-- END SECOND MENU -->