/* COLORS */
$dark-purple: #423d58;
$light-purple: #9c96b2;
$orange: #ff9900;
$light-orange: #FFBB00;
$blue: #2579b7;
$light-blue: #2F9BEB;
$grey: #aba9a9;
$light-grey: #FAFAFA;
$dark-grey: #373737;
$green: #36b452;
$black: #0e0e0e;
$red: #e74c3c;