/* GENERAL STYLE */
html,body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

img { max-width: 100%; }

a:hover { text-decoration: none; }

.hover-effect {
    transition: all 0.3s;
    &:hover { color: $orange; }
    &.hover-blue:hover { color: $blue; }
}

/* BUTTON */
.btn {
    letter-spacing: 0.5px;
    font-weight: 600;
}

.btn-orange {
    background-color: $orange;
    border-color: $orange;
    color: #FFF;
    &:hover {
        color: #FFF;
        background-color: #E38800;
        border-color: #E38800;
    }
    &:focus { box-shadow: 0 0 0 0.2rem rgba(255,153,0,.5); }
}

/* LIST */
.theme-list {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    li {
        margin-bottom: 10px;
        position: relative;
        list-style-type: none;
        margin-left: 20px;
        &:last-child { margin-bottom: 0; }
        &:before {
            content: '';
            width: 7px;
            height: 7px;
            background-color: #f90;
            left: -20px;
            top: calc(50% - 3.5px);
            border-radius: 100%;
            position: absolute;
        }
    }
}

/* LIST2 */
.theme-list2 {
    margin: 0;
    padding: 0;
    border: 1px solid #DEDEDE;
    margin-top: 10px;
    li {
        list-style-type: none;
        a {
            background-color: $light-grey;
            display: block;
            padding: 10px;
            border-bottom: 1px solid #DEDEDE;
            transition: all 0.3s;
            color: $black;
            font-size: 14px; font-weight: 600;
            &:hover { 
                background-color: $orange;
                color: #FFF;
            }
        }
        &:last-child a { border-bottom: 0; }
    }
}

/* BREADCRUMB */
.breadcrumb {
    background-color: $orange;
    padding: 25px 0;
    margin-bottom: 0;
    li {
        font-size: 16px;
        letter-spacing: 0.5px;
        &.active { color: #FFF; }
        &:before { color: #FFF !important; }
        a { color: #FFF; }
    }
}

/* PAGE HEADER */
.page-header {
    background-position: top;
    background-size: cover;
}

/* DIVIDER */
.divider {
    background-color: $light-grey;
    height: 3px;
    width: 100%;
}

.hr-line {
    border: none;
    border-top: 1px solid $grey;
    text-align: center;
}

/* FORM CONTROL */
.form-control {
    padding: 0.9rem .75rem;
    &:not([size]):not([multiple]) { height: auto !important; }
    &:focus {
        border-color: $orange;
        box-shadow: 0 0 0 0.2rem rgba(255,153,0,.25);
    }
}

/* PAGINATION */
.pagination {
    .page-item {
        .page-link {
            color: $orange;
            &:focus { box-shadow: 0 0 0 0.2rem rgba(255,153,0,.25); }
        }
        &.active {
            .page-link {
                background-color: $orange;
                border-color: $orange;
                color: #FFF;
            }
        }
    }
}

/* BOX SHADOW */
.box-shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s;
    &:hover { box-shadow: 0 0 20px rgba(0,0,0,0.2); }
}