 /* HELPER CLASSES */

/* FONT SIZE */
.fz-8 { font-size: 8px !important }
.fz-10 { font-size: 10px !important }
.fz-12 { font-size: 12px !important }
.fz-14 { font-size: 14px !important }
.fz-16 { font-size: 16px !important }
.fz-18 { font-size: 18px !important }
.fz-20 { font-size: 20px !important }
.fz-22 { font-size: 22px !important }
.fz-24 { font-size: 24px !important }
.fz-26 { font-size: 26px !important }
.fz-28 { font-size: 28px !important }
.fz-30 { font-size: 30px !important }
.fz-32 { font-size: 32px !important }
.fz-34 { font-size: 34px !important }
.fz-36 { font-size: 36px !important }
.fz-38 { font-size: 38px !important }
.fz-40 { font-size: 40px !important }
.fz-42 { font-size: 42px !important }

/* FONT WEIGHT */
.font-weight-medium { font-weight: 600 !important; }

/* LETTER SPACING */
.letter-spacing-05 { letter-spacing: 0.5px !important; }
.letter-spacing-1 { letter-spacing: 1px !important; }

/* BACKGROUNDS */
.purple-bg { background-color: $dark-purple; }
.light-grey-bg { background-color: #fafafa; }
.light-black-bg { background-color: #373737; }
.black-bg { background-color: #272727; }
.orange-bg { background-color: $orange !important; }

/* COLORS */
.text-blue { color: $blue; }
.text-black { color: $black; }
.text-grey { color: $grey; }
.text-purple { color: $dark-purple; }
.text-orange { color: $orange; }

/* WIDTH */
.full-width { width: 100% !important; }
.w-100 { width: 100px !important; }
.w-150 { width: 150px !important; }
.w-200 { width: 200px !important; }
.w-200 { width: 200px !important; }
.w-250 { width: 250px !important; }
.w-300 { width: 300px !important; }

/* HEIGHT */
.full-height { height: 100% !important; }
.height-50 { height: 50px !important; }
.height-100 { height: 100px !important; }
.height-130 { height: 130px !important; }
.height-150 { height: 150px !important; }
.height-200 { height: 200px !important; }
.height-250 { height: 250px !important; }
.min-h-100 { min-height: 100px; }
.min-h-150 { min-height: 150px; }
.min-h-200 { min-height: 200px; }
.min-h-250 { min-height: 250px; }
.min-h-300 { min-height: 300px; }
.min-h-350 { min-height: 350px; }
.min-h-400 { min-height: 400px; }
.min-h-450 { min-height: 450px; }
.min-h-500 { min-height: 500px; }
.max-h-100 { max-height: 100px; }
.max-h-150 { max-height: 150px; }
.max-h-200 { max-height: 200px; }
.max-h-250 { max-height: 250px; }
.max-h-300 { max-height: 300px; }
.max-h-350 { max-height: 350px; }
.max-h-400 { max-height: 400px; }
.max-h-450 { max-height: 450px; }
.max-h-500 { max-height: 500px; }

/* OBJECT FIT */
.object-fit-cover { object-fit: cover; }

/* BORDER RADIUS */
.border-radius-5 { border-radius: 5px; }
.border-radius-10 { border-radius: 10px; }

/* PADDING */
.pt-0 { padding-top: 0px !important; }
.pt-5 { padding-top: 5px !important; }
.pt-10 { padding-top: 10px !important; }
.pt-15 { padding-top: 15px !important; }
.pt-20 { padding-top: 20px !important; }
.pt-25 { padding-top: 25px !important; }
.pt-30 { padding-top: 30px !important; }
.pt-35 { padding-top: 35px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-45 { padding-top: 45px !important; }
.pt-50 { padding-top: 50px !important; }
.pt-55 { padding-top: 55px !important; }
.pt-60 { padding-top: 60px !important; }
.pt-65 { padding-top: 65px !important; }
.pt-70 { padding-top: 70px !important; }
.pt-75 { padding-top: 75px !important; }
.pt-80 { padding-top: 80px !important; }
.pt-85 { padding-top: 85px !important; }
.pt-90 { padding-top: 90px !important; }
.pt-95 { padding-top: 95px !important; }
.pt-100 { padding-top: 100px !important; }

.pb-0 { padding-bottom: 0px !important; }
.pb-5 { padding-bottom: 5px !important; }
.pb-10 { padding-bottom: 10px !important; }
.pb-15 { padding-bottom: 15px !important; }
.pb-20 { padding-bottom: 20px !important; }
.pb-25 { padding-bottom: 25px !important; }
.pb-30 { padding-bottom: 30px !important; }
.pb-35 { padding-bottom: 35px !important; }
.pb-40 { padding-bottom: 40px !important; }
.pb-45 { padding-bottom: 45px !important; }
.pb-50 { padding-bottom: 50px !important; }
.pb-55 { padding-bottom: 55px !important; }
.pb-60 { padding-bottom: 60px !important; }
.pb-65 { padding-bottom: 65px !important; }
.pb-70 { padding-bottom: 70px !important; }
.pb-75 { padding-bottom: 75px !important; }
.pb-80 { padding-bottom: 80px !important; }
.pb-85 { padding-bottom: 85px !important; }
.pb-90 { padding-bottom: 90px !important; }
.pb-95 { padding-bottom: 95px !important; }
.pb-100 { padding-bottom: 100px !important; }

/* MARGIN */
.mt-0 { margin-top: 0px !important; }
.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-25 { margin-top: 25px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-35 { margin-top: 35px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-45 { margin-top: 45px !important; }
.mt-50 { margin-top: 50px !important; }
.mt-55 { margin-top: 55px !important; }
.mt-60 { margin-top: 60px !important; }
.mt-65 { margin-top: 65px !important; }
.mt-70 { margin-top: 70px !important; }
.mt-75 { margin-top: 75px !important; }
.mt-80 { margin-top: 80px !important; }
.mt-85 { margin-top: 85px !important; }
.mt-90 { margin-top: 90px !important; }
.mt-95 { margin-top: 95px !important; }
.mt-100 { margin-top: 100px !important; }

.mb-0 { margin-bottom: 0px !important; }
.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-35 { margin-bottom: 35px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-45 { margin-bottom: 45px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-55 { margin-bottom: 55px !important; }
.mb-60 { margin-bottom: 60px !important; }
.mb-65 { margin-bottom: 65px !important; }
.mb-70 { margin-bottom: 70px !important; }
.mb-75 { margin-bottom: 75px !important; }
.mb-80 { margin-bottom: 80px !important; }
.mb-85 { margin-bottom: 85px !important; }
.mb-90 { margin-bottom: 90px !important; }
.mb-95 { margin-bottom: 95px !important; }
.mb-100 { margin-bottom: 100px !important; }