@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@import '_colors';
@import '_helpers';
@import '_mixins';
@import '_functions';
@import '_general';
@import 'components/_header';
@import 'components/_heroslider';
@import 'components/_secondmenu';
@import 'components/_testimonials';
@import 'components/_blog';
@import 'components/_contact';
@import 'components/_boxes';
@import 'components/_footer';

/* CONTENT TITLE */
h4.content-title {
    color: $blue;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 18px;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

/* THE CONTENT */
.thecontent {
    color: $black;
    font-size: 16px;
    p {}
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            margin-bottom: 10px;
            &:last-child { margin-bottom: 0; }
            a {
                color: $black;
                transition: all 0.3s;
                &:hover { color: $orange; }
            }
        }
    }
}

/* THE CONTENT */
.thecontent2 {
    color: $black;
    font-size: 16px;
    p {
        margin-bottom: 30px;
    }
    ul {
        margin: 0;
        padding: 0;
        padding-left: 25px;
        margin-bottom: 30px;
        li {
            margin-bottom: 10px;
            position: relative;
            list-style-type: none;
            margin-left: 20px;
            &:last-child { margin-bottom: 0; }
            &:before {
                content: '';
                width: 7px;
                height: 7px;
                background-color: #f90;
                left: -20px;
                top: calc(50% - 3.5px);
                border-radius: 100%;
                position: absolute;
            }
        }
    }
    h1,h2,h3,h4,h5,h6 {
        color: $blue;
        font-weight: 700;
        margin-bottom: 15px;
    }
}

/* HOSPITAL GALLERY */
.hospital-gallery {
    .item {
        height: 150px;
        display: block;
        @media (max-width: 767.98px) {
            height: auto;
        }
        img {
            object-fit:cover;
            height: 100%;
            width: 100%;
        }
    }
}

.has-top-border {
    border-top: 5px solid $orange;
}

.has-bottom-border {
    border-bottom: 5px solid $orange;
}